<div class="row home-marketing-boxes">
  <div class="col-md-3 col-6 marketing-box">
    <%= image_tag("icons/magazine.png", class: 'img-fluid', alt: 'magazine icon') %>
    <div class="marketing-caption">
      <%= t('hyrax.homepage.marketing.caption_1') %>
    </div>
  </div>
  <div class="col-md-3 col-6 marketing-box">
    <%= image_tag("icons/magnifying.png", class: 'img-fluid', alt: "magnifying glass icon") %>
    <div class="marketing-caption">
      <%= t('hyrax.homepage.marketing.caption_2') %>
    </div>
  </div>
  <div class="col-md-3 col-6 marketing-box">
    <%= image_tag("icons/digitization.png", class: 'img-fluid', alt: "digitization icon") %>
    <div class="marketing-caption">
      <%= t('hyrax.homepage.marketing.caption_3') %>
    </div>
  </div>
  <div class="col-md-3 col-6 marketing-box">
    <%= image_tag("icons/unlock.png", class: 'img-fluid', alt: "unlocking icon") %>
    <div class="marketing-caption">
      <%= t('hyrax.homepage.marketing.caption_4') %>
    </div>
  </div>
</div>
