<%# NOTE: Complete override of Hyrax core partial. See: %>
<%# https://github.com/samvera/hyrax/blob/main/app/views/hyrax/homepage/_home_content.html.erb %>

<div class="home-jumbotron">
  <div class="home-jumbotron-overlay">
    <%= t('hyrax.homepage.marquee.tagline_html') %>
    <div class="text-center marquee-buttons">
      <%= link_to t('hyrax.homepage.marquee.deposit_button'),
          main_app.new_submission_path,
          class: "btn btn-primary btn-lg btn-emphasize" %>
      <%= link_to t('hyrax.homepage.marquee.browse_button'),
          main_app.search_catalog_path(latest_version: true, top_level: true, hide_deaccessioned: true),
          class: 'btn btn-secondary btn-secondary-darker btn-lg' %>
    </div>
  </div>
</div>

<div class="row home-content">

  <div class="col-md-5 order-md-2 col-sm-6 order-sm-1 col-12 home-recently-uploaded">
      <h3><%= t('hyrax.homepage.recently_uploaded.title') %></h3>
      <%= render 'recently_uploaded', recent_documents: @recent_documents %>
  </div>

  <div class="col-md-7 order-md-1 col-sm-6 order-sm-2 col-12 home-marketing-text" id="about-rdr">
    <% if display_content_block? @marketing_text %>
        <%= displayable_content_block @marketing_text %>
    <% end %>
  </div>

</div>
