<%# NOTE: Complete override of Hyrax core partial. %>
<%# Last checked for updates: Hyrax v3.1.0. See: %>
<%# https://github.com/samvera/hyrax/blob/main/app/views/hyrax/homepage/_recent_document.html.erb %>
  <div class="media recent-item">
    <%= link_to [main_app, recent_document] do %>
      <div class="media-left">
          <%= document_presenter(recent_document)&.thumbnail&.thumbnail_tag({ class: "media-object", width: 90, alt: "#{recent_document} #{ t('hyrax.homepage.admin_sets.thumbnail')}" }, { suppress_link: true }) %>
      </div>
      <div class="media-body">
        <%= recent_dataset_entry(recent_document) %>
      </div>
    <% end %>
  </div>
