<%# NOTE: Overrides Hyrax partial %>
<%# https://github.com/samvera/hyrax/blob/main/app/views/hyrax/homepage/_recently_uploaded.html.erb %>
<% if recent_documents.blank? %>
  <p><%= t('.no_public') %></p>
<% else %>
  <div id="recent_docs">
    <%= render partial: "recent_document", collection: recent_documents %>
  </div>

  <%= link_to "Browse more",
      main_app.search_catalog_path(latest_version: true, top_level: true, hide_deaccessioned: true),
      class: 'btn btn-secondary btn-sm' %>

<% end %>
