<%# NOTE: Complete override of Hyrax view. See: %>
<%# https://github.com/samvera/hyrax/blob/main/app/views/hyrax/homepage/index.html.erb %>

<% provide :page_title, application_name %>

<%= render 'home_content' %>
<%= render 'home_marketing_boxes' %>
