<%# DUL CUSTOMIZATION: local custom copy of Hyrax core partial. %>
<%# As of Hyrax 3.5.0, there is a bug and there is no longer    %>
<%# a functional usage stats page for a FileSet, so we're       %>
<%# suppressing the link to it. See: %>
<%# https://github.com/samvera/hyrax/blob/hyrax-v3.5.0/app/views/hyrax/file_sets/_show_actions.html.erb %>

<%# TODO: Remove this file if issue #5846 gets fixed in Hyrax core. %>
<%# https://github.com/samvera/hyrax/issues/5846 %>

<div class="form-actions">
  <% if Hyrax.config.analytics? %>
    <% # turbolinks needs to be turned off or the page will use the cache and the %>
    <% # analytics graph will not show unless the page is refreshed. %>
    <%#= link_to t('.analytics'), @presenter.stats_path, id: 'stats', class: 'btn btn-secondary', data: { turbolinks: false } %>
  <% end %>

  <% if @presenter.editor? && !workflow_restriction?(@presenter) %>
      <%= link_to t(".edit_this", type: @presenter.human_readable_type), edit_polymorphic_path([main_app, @presenter]),
                  class: 'btn btn-secondary' %>
      <%= link_to t(".delete_this", type: @presenter.human_readable_type), [main_app, @presenter],
                  class: 'btn btn-danger', data: { confirm: t(".confirm_delete_this", type: @presenter.human_readable_type) },
                  method: :delete %>
  <% end %>

  <%#= render 'social_media' %>
</div>
