<%# DUL customization %>
<div class="row">
<div class="col-sm-9 main-column">
<div class="file-set-header">
  <h2><%= t(".file_details") %></h2>
  <div class="download-link">
    <%= render 'hyrax/base/actions', member: @presenter %>
  </div>
</div>
<dl class="row file-show-term file-show-details">

  <dt class="col-4"><%= I18n.t("rdr.show.fields.creator") %></dt>
  <dd class="col-8">
    <% if @presenter&.parent&.creator %>
      <% @presenter&.parent&.creator.each do |creator| %>
        <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><%= link_to_facet(creator, "creator_sim") %></span>
        </span>
        <br />
      <% end %>
    <% end %>
  </dd>
  <dt class="col-4"><%= I18n.t("rdr.show.fields.publisher") %></dt>
  <dd class="col-8">
    <% if @presenter&.parent&.publisher %>
      <% @presenter&.parent&.publisher.each do |publisher| %>
        <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <span itemprop="name"><%= link_to_facet(publisher, "publisher_sim") %></span>
        </span>
        <br />
      <% end %>
    <% end %>
  </dd>
  <dt class="col-4"><%= I18n.t("rdr.show.fields.available") %></dt>
  <dd class="col-8">
    <% if @presenter&.parent&.available %>
        <span itemprop="datePublished">
          <%= Date.parse(@presenter&.parent&.available.first).strftime("%B %e, %Y") %>
        </span>
    <% end %>
  </dd>
  <dt class="col-4"><%= t(".depositor") %></dt>
  <dd class="col-8" itemprop="accountablePerson" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= link_to_profile @presenter.depositor %></span></dd>
  <%# Removed date uploaded, date modified %>
  <%# Removed fixity check info %>
  <dt class="col-4"><%= t(".characterization") %></dt>
  <dd class="col-8">
    <% if @presenter.characterized? %>
      <%= render 'show_characterization_details' %>
    <% else %>
      <%= t(".not_yet_characterized") %>
    <% end %>
  </dd>
</dl>

<% if current_user && current_user.admin? %>
  <%= render 'hyrax/users/activity_log', events: @presenter.events %>
<% end %>

</div>
<div class="contextual-info col-sm-3 text-center">
<%= render partial: 'hyrax/datasets/vertical_breadcrumb', locals: {presenter: @presenter} %>
</div>
</div>