<%# DUL customization from Hyrax (45f4ed8) %>
<% provide :page_title, @presenter.page_title %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-3">
      <%= render media_display_partial(@presenter), file_set: @presenter %>
      <%= render 'show_actions', presenter: @presenter %>
      <%= render 'single_use_links', presenter: @presenter if @presenter.editor? %>
    </div>
    <div itemscope itemtype="<%= @presenter.itemtype %>" class="col-12 col-sm-9">
      <header>
        <%= render 'file_set_title', presenter: @presenter %>
      </header>

      <% @presenter.show_partials.each do |partial_path| %>
      <%= render partial_path %>
      <% end %>

    </div><!-- /columns second -->
  </div> <!-- /.row -->
</div><!-- /.container-fluid -->

<% @presenter.member_of_collection_ids.each do |collection_id| %>
  <span class='hide analytics-event' data-category="file-set-in-collection" data-action="file-set-in-collection-view" data-name="<%= collection_id %>" >
<% end %>
<span class='hide analytics-event' data-category="file-set-in-work" data-action="file-set-in-work-view" data-name="<%= @presenter.parent.id %>" >
<span class='hide analytics-event' data-category="file-set" data-action="file-set-view" data-name="<%= @presenter.id %>" >
