<%# Copied from Blacklight core and modified to change positioning of %>
<%# Next button per RDR-231. %>
<%# Last checked for upstream updates: Hyrax 2.6.0 / Blacklight 6.14 %>

<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside

   Paginator now using the Bootstrap paginator class
-%>
<%= paginator.render do -%>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <%= prev_page_tag %>
      <% each_relevant_page do |page| -%>
        <% if page.left_outer? || page.right_outer? || page.inside_window? -%>
          <%= page_tag page %>
        <% elsif !page.was_truncated? -%>
          <%= gap_tag %>
        <% end -%>
      <% end -%>
      <%= next_page_tag  %>
    </ul>
  </nav>
<% end -%>
