<% if f.object.multiple? key %>
  <%= f.input :provenance_internal, as: :multi_value, label: 'Provenance (internal)', input_html: { rows: '5', type: 'textarea'}, required: f.object.required?(key) %>
<% else %>
  <%= f.input :provenance_internal, as: :text, label: 'Provenance (internal)', input_html: { rows: '5' }, required: f.object.required?(key) %>
<% end %>
