<%# NOTE: Overrides existing Hyrax partial %>
<footer>
<div class="container">
  <div class="row">
    <div class="col-lg-12 footer">

      <div class="float-left col-2 col-lg-1 mb-4">
        <%= link_to image_tag("footer/devillogo-60pct-60.png", :alt => "Duke University Libraries"), "https://library.duke.edu" %>
      </div>

      <div class="float-left col-6 col-lg-2 pt-4">
        <%= link_to image_tag("footer/dukelogo_vert_60pct_140.png", :alt => "Duke University"), "https://duke.edu" %>
      </div>

      <div class="float-left col-lg-3">
        <h3>Contact Us</h3>
          <small>
            411 Chapel Drive<br/>
            Durham, NC 27708<br/>
            (919) 660-5870<br/>
            Perkins Library Service Desk<br/><br/>
          </small>

          <p><%= t("rdr.footer.label.have_data")%> <br/><%= link_to t("rdr.footer.label.have_data_more"), hyrax.about_path %></p>
      </div>

      <div class="float-left col-lg-3">
        <h3>Connect with Us</h3>
        <ul class="list-unstyled">
          <li><%= link_to 'Research Data Management at the Libraries', 'https://library.duke.edu/data/data-management' %></li>
          <li><%= link_to 'About Digital Repositories at Duke', 'https://library.duke.edu/repositories' %></li>
          <li><%= link_to 'Data and Visualization Services Blog', 'https://blogs.library.duke.edu/data/' %></li>
          <li><%= link_to 'Bitstreams Blog', 'https://blogs.library.duke.edu/bitstreams/' %></li>
          <li><%= link_to 'Report a Problem with the Repositories',
                          'https://duke.qualtrics.com/jfe/form/SV_eo1QIMoUtvmteQZ?Q_JFE=qdg',
                          target: '_blank', rel: 'noopener' %>
          </li>
        </ul>
      </div>

      <div class="float-left col-lg-3">
        <h3>Resources</h3>
        <ul class="list-unstyled">
          <li><%= link_to 'Acceptable Use Policy', 'https://research.repository.duke.edu/about?locale=en#acceptable-use-policy' %></li>
          <li><%= link_to 'Accessibility Policy', 'https://library.duke.edu/using/policies/repository-accessibility' %></li>
          <li><%= link_to 'Preservation Policy', 'https://library.duke.edu/using/policies/digital-preservation' %></li>
          <li><%= link_to 'Harmful Language Statement', 'https://library.duke.edu/about/statement-potentially-harmful-language-library-descriptions' %></li>
          <li><%= link_to 'Deaccession and DMCA Takedown Policy', 'https://library.duke.edu/using/policies/dmca-takedown' %></li>
        </ul>
      </div>

    </div>
  </div>
</div>
</footer>
