<!-- Local custom copy of Hyrax core partial to bugfix Matomo tracking; see: -->
<!-- https://github.com/samvera/hyrax/blob/hyrax-v3.5.0/app/views/shared/_matomo.html.erb#L4 -->
<!-- TODO: remove in future if the commented-out trackPageView gets patched in core -->

<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  /* DUL CUSTOM BUGFIX: this trackPageView is commented out in Hyrax core. */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="<%= Hyrax::Analytics.config.base_url %>";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', "<%= Hyrax::Analytics.config.site_id %>"]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
  window.analytics = _paq;
</script>
<meta name="analytics-provider" content="matomo">
