<% if presenter.editor? %>
  <div class="dropdown">
    <a role="button" id="more-options-dropdown" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-cog"></span>
      More Options
    </a>

    <ul class="dropdown-menu" aria-labelledby="more-options-dropdown">
      <li><%= link_to "Edit", edit_polymorphic_path([main_app, presenter]), class: 'dropdown-item' %></li>
      <li><%= link_to "Delete", [main_app, presenter], data: { confirm: "Delete this #{presenter.human_readable_type}?" }, method: :delete, class: 'dropdown-item' %></li>

      <li class="dropdown-divider"></li>

      <% if presenter.member_presenters.size > 1 %>
        <li><%= link_to t("hyrax.file_manager.link_text"), polymorphic_path([main_app, :file_manager, presenter]), class: 'dropdown-item' %></li>
      <% end %>

      <% if presenter.assignable_doi? %>
        <li><%= link_to t('hyrax.base.show_actions.assign_register_doi'), [main_app, :assign_register_doi_hyrax_dataset], method: :post, class: 'dropdown-item' %></li>
      <% else %>
        <li><span class="dropdown-item text-muted"><%= t('hyrax.base.show_actions.assign_register_doi') %></span></li>
      <% end %>

      <% if presenter.valid_child_concerns.length > 0 %>
        <li>
          <%= link_to t('hyrax.dashboard.my.action.add_to_collection'), '#',
                         class: 'submits-batches submits-batches-add dropdown-item',
                         data: {toggle: "modal", target: "#collection-list-container"} %>
        </li>
        <% presenter.valid_child_concerns.each do |concern| %>
          <li><%= link_to "Attach #{concern.human_readable_type}", polymorphic_path([main_app, :new, :hyrax, :parent, concern.model_name.singular], parent_id: presenter.id), class: 'dropdown-item' %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
