<div>
  <%= presenter.attribute_to_html(:creator, render_as: :faceted, label: I18n.t("rdr.show.fields.creator"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:doi, label: I18n.t("rdr.show.fields.doi"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:subject, render_as: :faceted, label: I18n.t("rdr.show.fields.subject"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:available, render_as: :edtf_humanized, label: I18n.t("rdr.show.fields.available"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:date_created, render_as: :edtf_humanized, label: I18n.t("rdr.show.fields.date_created"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:ark, label: I18n.t("rdr.show.fields.ark"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:alternative_title, label: I18n.t("rdr.show.fields.alternative_title"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:contributor, render_as: :faceted, label: I18n.t("rdr.show.fields.contributor"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:replaces, label: I18n.t("rdr.show.fields.replaces"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:is_replaced_by, label: I18n.t("rdr.show.fields.is_replaced_by"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:affiliation, render_as: :faceted, label: I18n.t("rdr.show.fields.affiliation"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:publisher, render_as: :faceted, label: I18n.t("rdr.show.fields.publisher"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:temporal, render_as: :edtf_humanized, label: I18n.t("rdr.show.fields.temporal"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:based_near_label, label: I18n.t("rdr.show.fields.based_near_label"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:language, render_as: :faceted, label: I18n.t("rdr.show.fields.language"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:resource_type, render_as: :faceted, label: I18n.t("rdr.show.fields.resource_type"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:format, render_as: :faceted, label: I18n.t("rdr.show.fields.format"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:keyword, render_as: :faceted, label: I18n.t("rdr.show.fields.keyword"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:related_url, render_as: :external_link, label: I18n.t("rdr.show.fields.related_url"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:provenance, label: I18n.t("rdr.show.fields.provenance"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:funding_agency, label: I18n.t("rdr.show.fields.funding_agency"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:grant_number, label: I18n.t("rdr.show.fields.grant_number"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:contact, label: I18n.t("rdr.show.fields.contact"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:license, label: I18n.t("rdr.show.fields.license"), render_as: :license, html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:rights_statement, label: I18n.t("rdr.show.fields.rights_statement"), render_as: :rights_statement, html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:rights_notes, label: I18n.t("rdr.show.fields.rights_notes"), html_dl: true) %>
</div>
<div>
  <%= presenter.attribute_to_html(:access_right, label: I18n.t("rdr.show.fields.access_right"), html_dl: true) %>
</div>

<%# Render the title metadata element from the top of the page again in the metadata section %>
<%# but hide it with CSS. This ensures schema.org properties are mapped for this field. %>
<%# See Hyrax::Renderers::AttributeRenderer & Hyrax::PresentsAttributes#attribute_to_html %>

<div class="hide">
  <%= presenter.attribute_to_html(:title, label: I18n.t("rdr.show.fields.title"), html_dl: true) %>
</div>

<%# Render the license URI with valid schema.org markup. %>
<div class="hide">
  <%= presenter.attribute_to_html(:license, label: I18n.t("rdr.show.fields.license"), html_dl: true) %>
</div>

<%# This property is hard-coded in the markup rather than metadata-driven. %>
<div class="hide" itemprop="includedInDataCatalog" itemscope itemtype="http://schema.org/DataCatalog">
  <dt>Repository</dt>
  <dd>
    <ul class="tabular">
      <li itemprop="name">
        <a href="https://research.repository.duke.edu">Duke Research Data Repository</a>
      </li>
      <meta itemprop="url" content="https://research.repository.duke.edu" />
    </ul>
  </dd>
</div>
