<div>
  <div id="readme-preview-link" data-is-markdown="<%= readme.markdown_readme? %>" data-preview-url="<%= readme.media_download_link %>"></div>
  <div id="readme-pane" class="alert alert-primary">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="d-flex justify-content-start">
        <div class="spinner-border readme" role="status"></div>
      </div>
      <div class="justify-content-end">
        <button id="view-markdown" class="btn btn-primary" style="margin: 1em 1em 0 0;display: none;" type="button">View as Markdown</button>
        <button id="view-text" class="btn btn-info" style="margin: 1em 1em 0 0;display: none;" type="button">View as Text</button>
      </div>
    </div>
    <div id="readme-markdown" class="markdown-body readme" style="display: none;"></div>
    <div id="readme-raw" class="readme readme-raw" style="display: none;"></div>
  </div>
</div>