<%# DUL-CUSTOM modified version of Hyrax core work show page; See: %>
<%# https://github.com/samvera/hyrax/blob/hyrax-v3.5.0/app/views/hyrax/base/show.html.erb %>

<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <div class="col-12" <%= @presenter.microdata_type_to_html %>>
    <%= render 'work_title', presenter: @presenter %>
    <div class="work-permissions"><%= @presenter.permission_badge %></div>
    <%= render "show_actions", presenter: @presenter %>

    <div class="row work-show-columns">

      <div class="col-sm-9 main-column">
        <% if current_user && @presenter.depositor? %>
          <div class="current-depositor">
            <span class="fa fa-info-circle"></span> You deposited this dataset.
            <%= link_to "Request Modifications",  Rdr.depositor_request_form, target: "_blank" %>
          </div>
        <% end %>
        <% if @presenter.iiif_viewer? %>
          <%= render 'representative_media', presenter: @presenter, viewer: true %>
        <% end %>
        <%= render 'work_description', presenter: @presenter %>
        <%= render 'work_abstract', presenter: @presenter %>
        <% if @presenter.top_level %>
          <%= render 'work_files', presenter: @presenter %>
        <% end %>
        <%= render 'work_citation', presenter: @presenter %>
        <%= render 'metadata', presenter: @presenter %>
        <%= render 'items', presenter: @presenter %>
        <% if @presenter.dataset_versions.length > 1 %>
          <%= render 'dataset_versions', presenter: @presenter %>
        <% end %>
      </div>
      <div class="contextual-info col-sm-3 text-center">
        <%= render 'vertical_breadcrumb', presenter: @presenter %>
        <%= render 'altmetric_badge', presenter: @presenter %>
        <%# TODO: consider in future whether to add this partial back in %>
        <%#= render 'citations', presenter: @presenter %>

        <% if Hyrax.config.analytics? && !@presenter.deaccessioned? %>
          <%= link_to "Usage Stats", @presenter.stats_path, id: 'stats', class: 'mt-3 btn btn-secondary btn-link stats-button', data: { turbolinks: false } %>
        <% end %>
      </div>
    </div>

    <%= render 'workflow_actions_widget', presenter: @presenter %>

    <%# Analytics code from core, modified to close the span tags %>
    <span class="hide analytics-event" data-category="work" data-action="work-view" data-name="<%= @presenter.id %>"></span>
    <% @presenter.member_of_collection_ids.each do |collection_id| %>
      <span class="hide analytics-event" data-category="work-in-collection" data-action="work-in-collection-view" data-name="<%= collection_id %>"></span>
    <% end %>

  </div>
</div>
