<h1><%= t("rdr.batch_export.heading") %></h1>

<div class="row">

  <div class="col-sm-4">
    <h2><%= t("rdr.batch_export.duke.subheading") %></h2>
    <%= form_tag({ controller: 'export_files', action: 'verify_export_login' }) do %>
      <%= hidden_field_tag :login, 1 %>
      <%= submit_tag t("rdr.batch_export.duke.submit"), class: "btn btn-primary btn-duke-logo" %>
    <% end %>
  </div>
  <div class="col-sm-1">
    <div class="vertical-line">
      <span class="vl-innertext"><%= t("rdr.batch_export.separator") %></span>
    </div>
  </div>
  <div class="col-sm-7">
    <h2><%= t("rdr.batch_export.nonduke.subheading") %></h2>
    <%= form_tag({ controller: 'export_files', action: 'verify_export_recaptcha' }) do %>
      <div class="form-group"><%= recaptcha_tags %></div>
      <%= submit_tag t("rdr.batch_export.nonduke.submit"), class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
