<!-- screening question 3 (Cost Calculator) -->
<!-- [note: this should only display if 'greater than 300' is selected in Question 2] -->
<div class="form-tab" id="t3" aria-live="polite">

  <div id="form_alert3" class="hidden form_alert" role="alertdialog">
    <%= t("rdr.submissions.warnings.required_agreement_storage_html") %>
  </div>

  <fieldset>

      <legend id="cost-calculator-legend"><%= t("rdr.submissions.fieldsets.legend3") %></legend>

      <div id="cost-calculator-questions" aria-live="assertive">

        <p class="lead"><%= t("rdr.submissions.questions.question3_html") %></p>

        <div class="col-md-6 form-group data-size">
          <%= f.label :cost_calculator_data_size, t("rdr.submissions.labels.question3_label2"), :class => '' %>
          <%= f.number_field :cost_calculator_data_size, {:required => 'true', :class => 'form-control', :min => '100'} %>
        </div>

        <div class="col-md-6 form-group data-size cost-options">

          <%= f.label :cost_calculator, t("rdr.submissions.labels.question3_label3_empty") %>

          <%= f.select :cost_calculator, [ t("rdr.submissions.labels.question3_label3a"), t("rdr.submissions.labels.question3_label3b"), t("rdr.submissions.labels.question3_label3c"), t("rdr.submissions.labels.question3_label3d"), t("rdr.submissions.labels.question3_label3e") ], disabled: true, :required => true, :class => 'form-control', :prompt => t("rdr.submissions.labels.question3_option_prompt") %>
        
        </div>

        <div class="col-md-12 form-group data-size cost-estimate">
          <%= f.label :cost_calculator_data_size_output, t("rdr.submissions.labels.question3_label4"), :class => '' %>
          <%= f.text_field :cost_calculator_data_size_output, {:required => 'false', :class => 'form-control'} %> <div id="cost-estimate-text"></div>
        </div>

        <div class="col-md-push-1 col-md-10 form-group data-size fund-code">
          <%= f.label :cost_calculator_fund_code, t("rdr.submissions.labels.question3_label1"), :class => '' %>
          <%= f.number_field :cost_calculator_fund_code, {:required => 'true', :class => 'form-control', :min => 0, :oninput => "validity.valid||(value='');"} %>
        </div>

        <div class="col-md-12 btn-group" data-toggle="buttons" role="radiogroup">

          <p><%= t("rdr.submissions.labels.question3_label5") %></p>

          <%= f.label :cost_calculator_agreement, :for => 'cost-calculator-agreement-1', :class => 'btn btn-secondary btn-lg btn-block' do %>
            <%= f.radio_button :cost_calculator_agreement, Submission::AGREE_COST, {:required => true, :id =>'cost-calculator-agreement-1'} %> <%= t("rdr.submissions.labels.question3_label6") %>
          <% end %>

        </div>

      </div>

  </fieldset>

</div>
