<!-- DOI - tab 5 -->
<div class="form-tab" id="t5" aria-live="polite">

  <div id="form_alert5" class="d-none form_alert" role="alertdialog">
    <%= t("rdr.submissions.warnings.required_question_html") %>
  </div>

  <fieldset>

    <legend><%= t("rdr.submissions.fieldsets.legend6") %></legend>

    <p class="lead"><%= t("rdr.submissions.questions.question19_html") %></p>

    <div class="btn-group-vertical" data-toggle="buttons" role="radiogroup">

      <%= f.label :doi_exists, :for => 'submission_doi_exists_yes', :class => 'btn btn-secondary btn-lg btn-block', :onclick => 'showMy("doi")' do %>
        <%= f.radio_button :doi_exists, 'yes', :required => true %> <%= t("rdr.submissions.labels.question19_label1") %>
      <% end %>

      <%= f.label :doi_exists, :for => 'submission_doi_exists_no', :class => 'btn btn-secondary btn-lg btn-block', :onclick => 'hideMy("doi");' do %>
        <%= f.radio_button :doi_exists, 'no', :required => true %> <%= t("rdr.submissions.labels.question19_label2") %>
      <% end %>

    </div>


    <!-- show/hide based on above -->
    <div class="form-group d-none" id="doi_wrapper" aria-live="assertive">
      <%= f.label :doi, t("rdr.submissions.labels.question20_label") %>
      <%= f.text_field :doi, disabled: true, :required => true, :class => 'form-control' %>
    </div>


  </fieldset>

</div>