<!-- pace -->
<div class="form-group">
  <%= f.label :screening_pace, t("rdr.submissions.questions.question1b_html"), :class=> 'larger-text' %>
  <%= f.text_field :screening_pace, :type=> 'url', :pattern=>'https?://.+', :placeholder=>'https://', :class => 'form-control' %>
  <p id="submission_screening_pace_helper_text" class="form-text text-center hidden"><%= t("rdr.submissions.warnings.required_url_html") %></p>
</div>
