<div class="row submission-form">

  <div class="col-md-12">

    <div class="row">

      <div class="col-md-8 offset-md-2">

        <h1><%= t("rdr.submissions.heading") %></h1>

        <% if @submission.using_pace == 'true' %>
          <%= t("rdr.submissions.form_complete_pace_html", email: Rdr.curation_group_email) %>
        <% else %>
          <%= t("rdr.submissions.form_complete_html", email: Rdr.curation_group_email) %>
        <% end %>

      </div>

    </div>

  </div>

</div>
