<div class="row submission-form">

  <div class="col-md-12">

    <div class="row">

      <div class="col-md-8 offset-md-2">

        <h1><%= t("rdr.globus.heading") %></h1>

        <%# need some logic to display different messages! %>

        <% if @submission.screening_data_size == Submission::MEDIUM_DATA_SIZE %>

          <%= t("rdr.globus.form_complete_medium_size_html", email: Rdr.curation_group_email) %>

        <% elsif @submission.screening_data_size == Submission::LARGE_DATA_SIZE %>

          <%= t("rdr.globus.form_complete_large_size_html", email: Rdr.curation_group_email) %>

        <% end %>

      </div>

    </div>

  </div>

</div>
