<%= content_tag :div, id: "submission-values", data: { t2_small_data_size: Submission::SMALL_DATA_SIZE,
                                                       t2_medium_data_size: Submission::MEDIUM_DATA_SIZE,
                                                       t2_large_data_size: Submission::LARGE_DATA_SIZE,
                                                       t7_not_use: Submission::NOT_USE_CC0
                                                      #  level1_multiplier: Submission::STORAGE_MULTIPLIER_LEVEL1,
                                                      #  level2_multiplier: Submission::STORAGE_MULTIPLIER_LEVEL2,
                                                      #  level3_multiplier: Submission::STORAGE_MULTIPLIER_LEVEL3,
                                                      #  level4_multiplier: Submission::STORAGE_MULTIPLIER_LEVEL4,
                                                      #  level5_multiplier: Submission::STORAGE_MULTIPLIER_LEVEL5,
                                                      #  storage_cost_text_l1: t("rdr.submissions.labels.question3_label3a"),
                                                      #  storage_cost_text_l2: t("rdr.submissions.labels.question3_label3b"),
                                                      #  storage_cost_text_l3: t("rdr.submissions.labels.question3_label3c"),
                                                      #  storage_cost_text_l4: t("rdr.submissions.labels.question3_label3d"),
                                                      #  storage_cost_text_l5: t("rdr.submissions.labels.question3_label3e"),
                                                      #  storage_cost_description_l1: t("rdr.submissions.labels.question3_label3a_description"),
                                                      #  storage_cost_description_l2: t("rdr.submissions.labels.question3_label3b_description"),
                                                      #  storage_cost_description_l3: t("rdr.submissions.labels.question3_label3c_description"),
                                                      #  storage_cost_description_l4: t("rdr.submissions.labels.question3_label3d_description"),
                                                      #  storage_cost_description_l5: t("rdr.submissions.labels.question3_label3e_description")
                                                       } do %>
<% end %>

<div class="row submission-form">

  <div class="col-md-12">

    <div class="row">

      <div class="col-md-8 offset-md-2">

        <h1 id="data-submission-form"><%= t("rdr.submissions.heading") %></h1>

        <% if @submission.errors.any? %>
          <div id="error_explanation" class="col-md-12">
            <ul>
              <% @submission.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      </div>

    </div>

    <div class="row">

      <div class="col-md-8 offset-md-2" id="fields">

        <%= form_for @submission, :html => {'role' => 'form', 'aria-labelledby' => 'data-submission-form' } do |f| %>

          <%= f.hidden_field(:using_globus, value: 'false') %>
          <%= f.hidden_field(:using_pace, value: 'false') %>
          <%= f.hidden_field(:using_large_files, value: 'false') %>

          <!-- intro -->
          <div class="form-tab" id="t0" class="intro">

              <%= t("rdr.submissions.questions.intro_html") %>

          </div>




          <!-- screening question 1 (PII) -->
          <div class="form-tab" id="t1" aria-live="polite">

            <div id="form_alert1" class="d-none form_alert" role="alertdialog">
              <%= t("rdr.submissions.warnings.required_question_html") %>
            </div>

            <fieldset>

              <legend><%= t("rdr.submissions.fieldsets.legend1") %></legend>

              <%= t("rdr.submissions.questions.question1a_html") %>

              <div class="btn-group-vertical" data-toggle="buttons" role="radiogroup">

                <%= f.label :screening_pii, :for => 'submission_screening_pii_no', :class => 'btn btn-secondary btn-lg btn-block' do %>
                  <%= f.radio_button :screening_pii, 'no', {:required => true} %> <%= t("rdr.submissions.labels.question1a_label1") %>
                <% end %>

                <%= f.label :screening_pii, :for => 'submission_screening_pii_yes', :class => 'btn btn-secondary btn-lg btn-block' do %>
                  <%= f.radio_button :screening_pii, 'yes', {:required => true} %> <%= t("rdr.submissions.labels.question1a_label2") %>
                <% end %>

              </div>

              <!-- *************************************************************** -->
              <!-- ** PACE workflow question was removed for RDR-649,           ** -->
              <!-- ** would like to retain code for future use                  ** -->
              <!-- ** Note that when/if this is added back,                     ** -->
              <!-- ** code from _pace.html.erb will need to be reinserted here  ** -->
              <!-- *************************************************************** -->

            </fieldset>

          </div>

          <!-- screening question 2 (Data Size) -->
          <div class="form-tab" id="t2" aria-live="polite">

            <div id="form_alert2" class="d-none form_alert" role="alertdialog">
              <%= t("rdr.submissions.warnings.required_question_html") %>
            </div>

            <fieldset>

              <legend id="data-size"><%= t("rdr.submissions.fieldsets.legend2") %></legend>

              <p class="lead"><%= t("rdr.submissions.questions.question2_html") %></p>

              <div class="btn-group-vertical" data-toggle="buttons" role="radiogroup">

                <!-- Less than 10GB -->
                <%= f.label :screening_data_size, :for => 'data-size-1', :class => 'btn btn-secondary btn-lg btn-block' do %>
                  <%= f.radio_button :screening_data_size, Submission::SMALL_DATA_SIZE, :id =>'data-size-1' %> <%= t("rdr.submissions.labels.question2_label1") %>
                <% end %>

                <!-- Between 10GB and 100GB -->
                <%= f.label :screening__data_size, :for => 'data-size-2', :class => 'btn btn-secondary btn-lg btn-block' do %>
                  <%= f.radio_button :screening_data_size, Submission::MEDIUM_DATA_SIZE, :id =>'data-size-2' %> <%= t("rdr.submissions.labels.question2_label2") %>
                <% end %>

                <!-- Greater than 100GB -->
                <%= f.label :screening_data_size, :for => 'data-size-3', :class => 'btn btn-secondary btn-lg btn-block' do %>
                  <%= f.radio_button :screening_data_size, Submission::LARGE_DATA_SIZE, :id =>'data-size-3' %> <%= t("rdr.submissions.labels.question2_label3") %>
                <% end %>

              </div>

            </fieldset>

          </div>

          <!-- **************************************************************************** -->
          <!-- ** Q3 was removed for RDR-649, would like to retain code for future use   ** -->
          <!-- ** Note that when/if this is added back:                                  ** -->
          <!-- ** - vars in submission-values div above wll need to be uncommented       ** -->
          <!-- ** - code from _cost_calculator.html.erb will need to be reinserted here  ** -->
          <!-- ** - subsequent form-tab & form_alert IDs will need to be incremented     ** -->
          <!-- **************************************************************************** -->

          <!-- screening question 4 (Deposit Agreement) -->
          <div class="form-tab" id="t3" aria-live="polite">

            <div id="form_alert3" class="d-none form_alert" role="alertdialog">
              <%= t("rdr.submissions.warnings.required_agreement_html") %>
            </div>

            <fieldset>

              <legend><%= t("rdr.submissions.fieldsets.legend4") %></legend>

              <%= displayable_content_block @agreement_display %>

              <div class="btn-group-vertical" data-toggle="buttons" role="radiogroup">

                <%= f.label :deposit_agreement, :for => 'deposit-agreement-1', :class => 'btn btn-secondary btn-lg btn-block' do %>
                  <%= f.radio_button :deposit_agreement, Submission::AGREE, {:required => true, :id =>'deposit-agreement-1'} %> <%= t("rdr.submissions.labels.question4_label1") %>
                <% end %>

              </div>

            </fieldset>

          </div>



          <!-- submission form fields -->
          <div class="form-tab" id="t4" aria-live="polite">

            <div id="form_alert4" class="d-none form_alert" role="alertdialog">
              <%= t("rdr.submissions.warnings.required_questions_html") %>
            </div>


            <fieldset>

              <legend><%= t("rdr.submissions.fieldsets.legend5") %></legend>

              <%= t("rdr.submissions.required_text_html") %>

              <!-- Title -->
              <div class="form-group">
                <%= f.label :title, t("rdr.submissions.labels.question5_label"), :class => 'required' %>
                <%= f.text_area :title, :required => true, :class => 'form-control' %>
              </div>


              <!-- Authors -->
              <div class="form-group">
                <%= f.label :creator, t("rdr.submissions.labels.question6_label"), :class => 'required' %>
                <%= f.text_area :creator, :required => true, :class => 'form-control' %>
              </div>


              <!-- Contributors -->
              <div class="form-group">
                <%= f.label :contributor, t("rdr.submissions.labels.question7_label"), :class => '' %>
                <%= f.text_area :contributor, :class => 'form-control' %>
              </div>


              <!-- Affiliations -->
              <div class="form-group">
                <%= f.label :affiliation, t("rdr.submissions.labels.question8_label"), :class => '' %>
                <%= f.text_area :affiliation, :class => 'form-control' %>
              </div>


              <!-- Contact Info -->
              <div class="form-group">
                <%= f.label :contact, t("rdr.submissions.labels.question9_label_html"), :class => 'required' %>
                <%= f.text_area :contact, :required => true, :class => 'form-control' %>
              </div>


              <!-- Description -->
              <div class="form-group">
                <%= f.label :description, t("rdr.submissions.labels.question10_label"), :class => 'required' %>
                <%= f.text_area :description, :required => true, :class => 'form-control' %>
              </div>


              <!-- Subjects -->
              <div class="form-group">
                <%= f.label :subject, t("rdr.submissions.labels.question11_label"), :class => 'required' %>
                <%= f.text_area :subject, :required => true, :class => 'form-control' %>
              </div>


              <!-- Geo Areas -->
              <div class="form-group">
                <%= f.label :based_near, t("rdr.submissions.labels.question12_label"), :class => '' %>
                <%= f.text_area :based_near, :class => 'form-control' %>
              </div>


              <!-- Dates -->
              <div class="form-group">
                <%= f.label :temporal, t("rdr.submissions.labels.question13_label"), :class => '' %>
                <%= f.text_area :temporal, :class => 'form-control' %>
              </div>


              <!-- Languages -->
              <div class="form-group">
                <%= f.label :language, t("rdr.submissions.labels.question14_label"), :class => '' %>
                <%= f.text_area :language, :class => 'form-control' %>
              </div>


              <!-- Formats -->
              <div class="form-group">
                <%= f.label :format, t("rdr.submissions.labels.question15_label"), :class => '' %>
                <%= f.text_area :format, :class => 'form-control' %>
              </div>



              <!-- Related Materials -->
              <div class="form-group">
                <%= f.label :related_url, t("rdr.submissions.labels.question16_label"), :class => '' %>
                <%= f.text_area :related_url, :class => 'form-control' %>
              </div>


              <!-- Funding Agency -->
              <div class="form-group">
                <%= f.label :funding_agency, t("rdr.submissions.labels.question17_label"), :class => '' %>
                <%= f.text_area :funding_agency, :class => 'form-control' %>
              </div>


              <!-- Grant Number -->
              <div class="form-group">
                <%= f.label :grant_number, t("rdr.submissions.labels.question18_label"), :class => '' %>
                <%= f.text_area :grant_number, :class => 'form-control' %>
              </div>

            </fieldset>

          </div>



          <!-- **************************************************************************** -->
          <!-- ** Q5 (DOI) was removed for RK-39 (2/22/2024), and POs would like to      ** -->
          <!-- ** retain code for future use                                             ** -->
          <!-- ** Note that when/if this is added back:                                  ** -->
          <!-- ** - code from _doi.html.erb will need to be reinserted here              ** -->
          <!-- ** - subsequent form-tab & form_alert IDs will need to be incremented     ** -->
          <!-- **************************************************************************** -->
          <%= f.hidden_field :doi_exists, value: 'false' %>

          
          <!-- CC0 - tab 5 -->
          <div class="form-tab" id="t5" aria-live="polite">

            <div id="form_alert5" class="d-none form_alert" role="alertdialog">
              <%= t("rdr.submissions.warnings.required_question_html") %>
            </div>

            <fieldset>

              <legend><%= t("rdr.submissions.fieldsets.legend7") %></legend>

              <%= t("rdr.submissions.questions.question21_html") %>

              <div class="btn-group-vertical" data-toggle="buttons" role="radiogroup">

                <%= f.label :using_cc0, :for => 'submission_using_cc0_will_use_cc0', :class => 'btn btn-secondary btn-lg btn-block', :onclick => 'hideMy("license");' do %>
                  <%= f.radio_button :using_cc0, Submission::USE_CC0, {:required => true} %> <%= t("rdr.submissions.labels.question21_label1") %>
                <% end %>

                <%= f.label :using_cc0, :for => 'submission_using_cc0_will_not_use_cc0', :class => 'btn btn-secondary btn-lg btn-block', :onclick => 'showMy("license");' do %>
                  <%= f.radio_button :using_cc0, Submission::NOT_USE_CC0, {:required => true} %> <%= t("rdr.submissions.labels.question21_label2") %>
                <% end %>

              </div>


              <!-- show/hide based on above -->
              <div class="form-group d-none" id="license_wrapper">
                <%= f.label :license, t("rdr.submissions.labels.question22_label") %>

                <%= f.select :license, [ t("rdr.submissions.labels.question22_option1"), t("rdr.submissions.labels.question22_option2"), t("rdr.submissions.labels.question22_option3"), t("rdr.submissions.labels.question22_option4"), t("rdr.submissions.labels.question22_option5"), t("rdr.submissions.labels.question22_option6") ], disabled: true, :required => true, :class => 'form-control', :prompt => t("rdr.submissions.labels.question22_option_prompt") %>

              </div>


            </fieldset>

          </div>




          <!-- Review and Submit - tab 6 -->
          <div class="form-tab" id="t6" aria-live="polite">

            <div id="form_alert6" class="d-none form_alert" role="alertdialog">
              <%= t("rdr.submissions.warnings.required_question_html") %>
            </div>

            <fieldset>

              <legend><%= t("rdr.submissions.fieldsets.legend8") %></legend>

              <%= t("rdr.submissions.questions.question23_html") %>

              <!-- print out inputs from the form for review -->
              
              <h2><%= t("rdr.submissions.review.restricted-info.title") %> <a href="#" id="restricted-info-edit"><btn class="btn btn-primary btn-sm">Edit</btn></a></h2>
              <p><%= t("rdr.submissions.review.no") %></p>

              <h2><%= t("rdr.submissions.review.deposit-size.title") %> <a href="#" id="deposit-size-edit"><btn class="btn btn-primary btn-sm">Edit</btn></a></h2>
              <div id="data-size_review_field1">
                <p><%= t("rdr.submissions.review.placeholder") %></p>
              </div>

              <h2><%= t("rdr.submissions.review.deposit-agreement.title") %> <a href="#" id="deposit-agreement-edit"><btn class="btn btn-primary btn-sm">Edit</btn></a></h2>
              <p><%= t("rdr.submissions.review.yes") %></p>

              <h2><%= t("rdr.submissions.review.submission-info.title") %> <a href="#" id="submission-info-edit"><btn class="btn btn-primary btn-sm">Edit</btn></a></h2>
              <dl>
                <div id="submission_review_field1">
                  <dt><%= t("rdr.submissions.review.submission-info.field1-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
                <div id="submission_review_field2">
                  <dt><%= t("rdr.submissions.review.submission-info.field2-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
                <div id="submission_review_field3">
                  <dt><%= t("rdr.submissions.review.submission-info.field3-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
                <div id="submission_review_field4">
                  <dt><%= t("rdr.submissions.review.submission-info.field4-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
                <div id="submission_review_field5">
                  <dt><%= t("rdr.submissions.review.submission-info.field5-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
                <div id="submission_review_field6">
                  <dt><%= t("rdr.submissions.review.submission-info.field6-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
                <div id="submission_review_field7">
                  <dt><%= t("rdr.submissions.review.submission-info.field7-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
                <div id="submission_review_field8">
                  <dt><%= t("rdr.submissions.review.submission-info.field8-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
                <div id="submission_review_field9">
                  <dt><%= t("rdr.submissions.review.submission-info.field9-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
                <div id="submission_review_field10">
                  <dt><%= t("rdr.submissions.review.submission-info.field10-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
                <div id="submission_review_field11">
                  <dt><%= t("rdr.submissions.review.submission-info.field11-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
                <div id="submission_review_field12">
                  <dt><%= t("rdr.submissions.review.submission-info.field12-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
                <div id="submission_review_field13">
                  <dt><%= t("rdr.submissions.review.submission-info.field13-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
                <div id="submission_review_field14">
                  <dt><%= t("rdr.submissions.review.submission-info.field14-title") %></dt>
                  <dd><%= t("rdr.submissions.review.placeholder") %></dd>
                </div>
              </dl>

              <%
=begin%>
 <h2><%= t("rdr.submissions.review.doi-info.title") %> <a href="#" id="doi-info-edit"><btn class="btn btn-primary btn-sm">Edit</btn></a></h2>
              <dl>
                <div id="doi_review_field1">
                  <dt><%= t("rdr.submissions.review.doi-info.field1-title") %></dt>
                  <dd></dd>
                </div>
                <div id="doi_review_field2">
                  <dt><%= t("rdr.submissions.review.doi-info.field2-title") %></dt>
                  <dd></dd>
                </div>
              </dl> 
<%
=end%>
              
              <h2><%= t("rdr.submissions.review.cc-info.title") %> <a href="#" id="cc-info-edit"><btn class="btn btn-primary btn-sm">Edit</btn></a></h2>
              <dl>
                <div id="cc_review_field1">
                  <dt><%= t("rdr.submissions.review.cc-info.field1-title") %></dt>
                  <dd></dd>
                </div>
                <div id="cc_review_field2">
                  <dt><%= t("rdr.submissions.review.cc-info.field2-title") %></dt>
                  <dd></dd>
                </div>
              </dl>

            </fieldset>

          </div>


          <!-- Previous / Next Buttons -->
          <nav aria-label="form controls" class="submission-nav" id="submission-nav">
            <ul class="pager d-flex justify-content-between">
              <li class="previous">
                <a href="#fields" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-primary" title="Previous"><%= t("rdr.submissions.previous_button_html") %></a>
              </li>

              <li class="back-to-review">
                <a href="#fields" id="review_button" class="" title="Return"><%= t("rdr.submissions.review_button_html") %></a>
              </li>
              
              <li class="next">
                <a href="#fields" id="nextBtn" onclick="nextPrev(1)" class="btn btn-primary" title="Next"><%= t("rdr.submissions.next_button_html") %></a>
                <%= f.button 'Submit', id: 'submission_submit_button', class: 'btn btn-primary btn-lg', type: 'submit' do %>
                  <%= t("rdr.submissions.submit_button_html") %>
                <% end %>
              </li>
              
            </ul>
          </nav>

        <% end %>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 step-indicator" aria-label="progress">
        <ol class="segments" id="progress-steps">
          <li class="segment">
            <span class="segment-label"><%= t("rdr.submissions.progress_bar.step_1") %></span>
          </li>
          <li class="segment">
            <span class="segment-label"><%= t("rdr.submissions.progress_bar.step_2") %></span>
          </li>
          <li class="segment">
            <span class="segment-label"><%= t("rdr.submissions.progress_bar.step_3") %></span>
          </li>
          <li class="segment">
            <span class="segment-label"><%= t("rdr.submissions.progress_bar.step_4") %></span>
          </li>
          <li class="segment">
            <span class="segment-label"><%= t("rdr.submissions.progress_bar.step_5") %></span>
          </li>
          <%
=begin%>
 <li class="segment">
            <span class="segment-label"><%= t("rdr.submissions.progress_bar.step_6") %></span>
          </li> 
<%
=end%>
          <li class="segment">
            <span class="segment-label"><%= t("rdr.submissions.progress_bar.step_7") %></span>
          </li>
          <li class="segment">
            <span class="segment-label"><%= t("rdr.submissions.progress_bar.step_8") %></span>
          </li>
        </ol>
      </div>
    </div>

  </div>
</div>

<!-- submission modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="submit-modal-title" id="submitModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <div>
          
          <h2 id="submit-modal-title" class="text-center"><%= t("rdr.submissions.submit_modal_header") %></h2>

          <p class="text-center"><%= t("rdr.submissions.submit_modal_content_html") %></p>

        </div>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= javascript_include_tag 'rdr-submissions' %>
