<div class="row submission-form">

  <div class="col-md-12">

    <div class="row">

      <div class="col-md-8 offset-md-2">

        <h1 id="data-submission-form"><%= t("rdr.followup.heading") %></h1>

      </div>

    </div>

    <div class="row">

      <div class="col-md-8 offset-md-2" id="fields">

        <%= form_for @submission, :html => {'role' => 'form', 'aria-labelledby' => 'data-submission-followup-form' } do |f| %>


          <fieldset>

            <legend><%= t("rdr.followup.legend") %></legend>

            <% if @submission.screening_pii == 'yes' %>
              <!-- if washed out early for sensitive data, display this message: -->
              <%= t("rdr.followup.form_not_complete_pii_html", email: Rdr.curation_group_email) %>
            <% elsif @submission.screening_data_size == Submission::LARGE_DATA_SIZE %>
              <!-- if large data size, display this message: -->
              <%= t("rdr.followup.form_larger_storage_html", email: Rdr.curation_group_email) %>
            <% end %>

            
            
            <!-- followup textarea -->
            <div class="form-group">
              <%= f.label :more_information, t("rdr.followup.question1_label"), :class => 'required' %>
              <%= f.text_area :more_information, :required => true, :class => 'form-control' %>
            </div>

          </fieldset>

          <!-- hidden fields for submitter -->
          <%= f.hidden_field(:followup, value: 'true') %>
          <%= f.hidden_field(:display_name, value: @submission.submitter.display_name) %>
          <%= f.hidden_field(:netid, value: @submission.submitter.user_key.split('@').first) %>


          <!-- Submit Button -->
          <nav aria-label="form controls" class="submission-nav">
            <%= f.button 'Submit', id: 'submission_followup_submit_button', class: 'btn btn-primary', type: 'submit' do %>
              Submit &gt;&gt;
            <% end %>
          </nav>

        <% end %>

      </div>

    </div>

  </div>

</div>
