<%# NOTE: Dataset-specific substitute for Hyrax's default index_list_default.html.erb %>
<%# Last checked for updates: Hyrax v3.1.0. See %>
<%# https://github.com/samvera/hyrax/blob/main/app/views/catalog/_index_list_default.html.erb %>
<div class="col-md-10">
  <div class="metadata">
    <dl class="row">
    <% doc_presenter = index_presenter(document) %>
    <% index_fields(document).each do |field_name, field| -%>
      <% if should_render_index_field? document, field %>
          <dt class="col-4" data-solr-field-name="<%= field_name %>"><%= render_index_field_label document, field: field_name %></dt>
          <dd class="col-8"><%= doc_presenter.field_value field %></dd>
      <% end %>
    <% end %>
    </dl>
  </div>
</div>
