<%# NOTE: Overrides Hyrax partial %>
<%# Note: this module is copied from Hyrax to add hidden search param for displaying only latest_version of work, %>
<%# this blacklight_param is then used in fq query. %>
<%= form_tag search_form_action, method: :get, id: "search-form-header", role: "search" do %>
  <%# Note: copied from Hyrax to add hidden search param for displaying only latest_version of work, this blacklight param is then used in fq query. %>
  <%= render Blacklight::HiddenSearchStateComponent.new(params: search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8).to_h) %>
  <%= hidden_field_tag :search_field, 'all_fields' %>
  <%= hidden_field_tag :latest_version, 'true' %>
  <%= hidden_field_tag :top_level, 'true' %>
  <%= hidden_field_tag :hide_deaccessioned, 'true' %>

  <div class="input-group">

    <label class="sr-only" for="search-field-header"><%= t("hyrax.search.form.q.label", application_name: application_name) %></label>
    <%= text_field_tag :q, current_search_parameters , class: "q form-control", id: "search-field-header", placeholder: t("hyrax.search.form.q.placeholder") %>

    <div class="input-group-append">
      <button type="submit" class="btn btn-primary" id="search-submit-header">
        <%= t('hyrax.search.button.html') %>
      </button>
      <% if current_user %>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
          <span data-search-element="label"><%= t("hyrax.search.form.option.all.label_long", application_name: application_name) %></span>
        </button>

        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <%= link_to t("hyrax.search.form.option.all.label_long", application_name: application_name), "#",
                        data: { "search-option" => main_app.search_catalog_path, "search-label" => t("hyrax.search.form.option.all.label_short") }, class: 'dropdown-item' %>
          </li>
          <li>
            <%= link_to t("hyrax.search.form.option.my_works.label_long"), "#",
                        data: { "search-option" => hyrax.my_works_path, "search-label" => t("hyrax.search.form.option.my_works.label_short") }, class: 'dropdown-item' %>
          </li>
          <li>
            <%= link_to t("hyrax.search.form.option.my_collections.label_long"), "#",
                        data: { "search-option" => hyrax.my_collections_path, "search-label" => t("hyrax.search.form.option.my_collections.label_short") }, class: 'dropdown-item' %>
          </li>
      <% end %>

      </ul>
    </div><!-- /.input-group-btn -->

  </div><!-- /.input-group -->
<% end %>
