<%# NOTE: Copy of a Hyrax core partial, in order to add .list-thumbnail wrapper %>
<%# for styling consistency with work thumbnails in search results. %>
<%# https://github.com/samvera/hyrax/blob/main/app/views/catalog/_thumbnail_list_collection.html.erb %>
<%# Last checked for updates: Hyrax v3.1.0 %>

<div class="col-md-2">
  <div class="list-thumbnail">
    <%= document_presenter(document)&.thumbnail&.thumbnail_tag({}, suppress_link: true) %>
  </div>
</div>
