<%# NOTE: Copy of a Hyrax core partial, in order to fix outer div class %>
<%# https://github.com/samvera/hyrax/blob/main/app/views/catalog/_thumbnail_list_default.html.erb %>
<%# Last checked for updates: Hyrax v4.0.0 %>

<% model = document.hydra_model %>
<div class="col-md-2">
  <% if model == Hyrax::PcdmCollection || model < Hyrax::PcdmCollection %>
    <%= document_presenter(document)&.thumbnail&.thumbnail_tag({}, suppress_link: true) %>
  <% else %>
    <div class="list-thumbnail">
      <%= document_presenter(document)&.thumbnail&.thumbnail_tag %>
    </div>
  <% end %>
</div>
