<h2><%= t('role-management.edit.title') %></h2>
<%= bootstrap_form_for @role, :url=>role_management.role_path(@role) do |f| %>
  <%= f.text_field :name, :label=> t('role-management.edit.field_name') %>

  <%= f.submit t('role-management.edit.update') %>

<% end %>
<% if can? :destroy, Role %>
  <%= button_to t('role-management.edit.delete'), role_management.role_path(@role), :method=>:delete, :class=>'btn btn-danger' %>
<% end %>
<h3><%= t('role-management.edit.accounts') %></h3>
<ul>
  <% @role.users.each do |user| %>
    <li><%= user.user_key %>
      <% if can? :remove_user, Role %>
        <%= button_to t('role-management.edit.remove'), role_management.role_user_path(@role, user.id), :method=>:delete, :class=>'btn btn-danger' %>
      <% end %>
    </li>
  <% end %>
</ul>
<h3><%= t('role-management.edit.add_new_account') %></h3>
<%= bootstrap_form_tag :url=> role_management.role_users_path(@role) do |f| %>
  <%= f.text_field 'user_key', :label=>t('role-management.edit.user') %>
  <%= f.submit t('role-management.edit.add') %>
  <%= link_to t('role-management.edit.cancel'), role_management.roles_path, :class => 'btn btn-secondary' %>
<% end %>
