This README file contains all associated metadata for the dataset and a description
of the files packaged with the data export.

A manifest of the original dataset files and their SHA1 digests is found at:

    <%= Rdr.globus_export_manifest_filename %>

To re-verify the integrity of the data files, use the sha1sum utility on Mac or Linux:

    $ sha1sum -c <%= Rdr.globus_export_manifest_filename %>

A Windows version of this utility may be found in the GNU CoreUtils collection
(http://gnuwin32.sourceforge.net/packages/coreutils.htm).
