<%= t('rdr.batch_export.metadata_report.dataset_metadata_title') %>

<% metadata.fields.each do |f| %>
<%= t("rdr.show.fields.#{f}") %>: <%= metadata.value(f) %>

<% end %>
<% if metadata.pubdate.present? %>
<%= t('rdr.show.fields.available') %>: <%= metadata.pubdate %>

<% end %>
<%= t('rdr.batch_export.metadata_report.source_organization') %>: <%= Rdr.export_files_source_organization %>

<%= t('rdr.batch_export.metadata_report.contact_email') %>: <%= Rdr.export_files_contact_email %>

<%= t('rdr.batch_export.metadata_report.file_count') %>: <%= metadata.file_count %>

<%= t('rdr.batch_export.metadata_report.file_size') %>: <%= ActiveSupport::NumberHelper.number_to_human_size(metadata.file_size_total) %>

<%= t('rdr.batch_export.metadata_report.export_timestamp') %>: <%= metadata.exported_at %>
