<%= t('rdr.batch_export.metadata_report.first_line', title: metadata.title) %>

<%= render partial: 'globus/export_package_info', locals: { metadata: metadata } %>

<%= render partial: 'globus/export_metadata', locals: { metadata: metadata } %>

<%= render 'globus/acceptable_use_policy' %>
