/* Styles for the /help page */

.help-contents {
  border-left: 1px solid lightgray;
  padding-left: 20px;
  .panel-heading { 
    position: relative;
    padding-right: 2rem;
    .panel-title {
      font-weight: 400;
      a {
        display:block;
      }
    }
  }
  #accordion {
    div.card {
      .btn.btn-link {
        text-decoration: none;
        border-bottom: 1px solid rgba(0,0,0,0.125);
        &::after {
          content: "\f077";
          font-family: FontAwesome;
          position: absolute;
          top: 1rem;
          right: 1rem;
        }
        &.collapsed {
          border-bottom: none;
          &::after {
            content: "\f078";
          }
        }
      }
    }
  }
}
