
/* Custom styles for Dashboard view, which has <body class="dashboard"/> */
/* ===================================================================== */

body.dashboard {
  padding-top: 0;

  & #masthead-alert {
    background: $danger;
  }

  & #content-wrapper {
    padding: 0 !important;
  }

  & .breadcrumb {
    border: none;
    padding-left: 0.5em;
  }

  & table.works-list a.visibility-link {
    text-decoration: none;
  }

}
