/* -------------
    FACETS
---------------- */

#facets {
  .facet-values li .selected {
    color: shade-color($success, 31%) !important;
    font-weight: 600;
  }

  /* Workaround for BL core's hard-coded facet toggle breakpoint.       */
  /* This is a stopgap solution for Blacklight issue #2733 per TD-1172  */
  /* and should be replaced w/a BL-friendly approach once resolved.     */
  /* https://github.com/projectblacklight/blacklight/issues/2733        */
  &.facets-toggleable-md {

    @include media-breakpoint-up(md) {
      .facets-collapse {
        display: block !important;
        width: 100%;
      }

      .navbar-toggler {
        display: none;
      }
    }
  }
}


/* Blacklight Range Filter Overrides              */
/* Note, applies to in-facet and in-modal display */
/* ---------------------------------------------- */

/* Accessibility patch: this second submit button fails */
/* WCAG 2.1A since aria-hidden elements cannot be       */
/* focusable nor can they contain focusable elements.   */
/* https://dequeuniversity.com/rules/axe/4.6/aria-hidden-focus */
.range-limit-input-group {
  > input[type=submit] {
    display: none;
  }
}

.blrl-plot-config {
  .slider-handle {
    background-color: $piedmont !important;
    background-image: none;
  }
  .slider-selection {
    background-color: $info !important;
    opacity: 0.9;
  }
  .missing {
    display: none;
  }
}

.facet_pagination .prev_next_links .disabled {
  display: none;
}
