#masthead {
  z-index: 2;
  background-color: $dul-masthead-blue;
  margin-bottom: 0;
  border-bottom: none;
  padding: 10px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 2px 2px rgba(0, 0, 0, 0.03), 0 4px 4px rgba(0, 0, 0, 0.03), 0 8px 8px rgba(0, 0, 0, 0.03), 0 16px 16px rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  @include media-breakpoint-down(xs) {
    height: auto;
  }
  & .logo-wrapper {
    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
    }
  }
  & #search-field-header {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  & #search-form-header {
    margin-top: 0;
    & .input-group {
      margin-bottom: 0;
      .input-group-btn {
        .btn {
          height: 44px;
        }
      }
    }
    .input-group label {
      color: #fff;
    }
    .btn-secondary {
      background-color: $limestone;
      border-color: $limestone;
      color: $gray-darker;

      &:hover {
        background-color: $granite;
        border-color: $granite;
      }
    }
  }
  & button#search-submit-header {
    background-color: #a1b70d;
    border-color: #a1b70d;
    color: #000;
    &:hover, &:focus {
     background-color: #77870a;
     border-color: #77870a;
    }
  }
  & #user_utility_links {
    & span.hidden-xs {
      display: inline !important;
    }
    & > .open > a:focus {
      background: #032051;
    }

    .btn-user {
      color: $white;
      &:hover {
        background-color: $duke-navy-blue;
        border-color: $duke-navy-blue;
        color: $white;
      }
    }
    .fa-caret-down {
      font-size: .8em;
      opacity: 0.7;
    }
  }

  & img.navbar-dul-logo {
    height: 44px;
    @include media-breakpoint-down(sm) {
      height: 36px;
    }

  }

  & .navbar-dul {
    margin-right: 20px;
    float: left;
    @include media-breakpoint-down(xs) {
      margin-right: 15px;
    }
  }

  & .navbar-ddr {
    float: left;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    & a.product-name-secondary {
      display: block;
      color: #bbb;
      font-size: 21.5px;
      line-height: 15px;
      @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 13px;
      }
    }

    & a.product-name-primary {
      display: block;
      font-weight: bold;
      font-size: 27px;
      line-height: 22px;
      margin-top: 6px;
      color: white;
      @include media-breakpoint-down(sm) {
        font-size: 20px;
        line-height: 15px;
      }
    }
  }
}

#masthead-alert {
  margin-bottom: 0;
  & .alert {
    margin-bottom: 0;
    & p:before {
      content: "\f06a"; /* exclamation-circle */
      font-family: FontAwesome;
      margin-right: 0.4em;
      font-size: 1.5em;
    }
    & a {
      font-weight: bold;
      color: white;
    }
  }

}
