/* Styles for the /submissions page */

.submission-form {

  .btn, .badge {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  .btn-secondary {
    background-color: $limestone;
    border-color: $limestone;
    color: $gray-darker;

    &:hover {
      background-color: $granite;
      border-color: $granite;
    }

    &.active {
      background-color: $duke-navy-blue !important;
      border-color: $duke-navy-blue !important;
      color: $white !important;
      box-shadow: none !important;
    }
  }


  #new_submission .btn-group-vertical {
    width: 100%;
    text-align: center;

    input {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }

    .btn-block {
      padding: .75em;
    }

  }

  h1 {
    margin-bottom: 1em;
    font-size: 2.75rem;
    margin-top: 0.5em
  }

  .lead {
    font-size: 1.5rem;
  }

  legend {
    border-bottom: 1px solid $limestone;
    margin-bottom: .875em;
  }

  .alert {
    margin: 0 0 20px 0;
  }

  .submission-nav {
    padding-top: 1em;
  }

  /* Hide all steps by default: */
  .form-tab {
    display: none;
  }

  .form_alert {
    margin-bottom: 1em;
    text-align: center;
    color: $brand-danger;
    font-size: 1.5em;
  }

  .form-tab-error {
    padding: 20px;
    margin: -20px;
    background-color: tint-color($danger, 95%);
  }

  ul:not([class]) > *:before {
    margin-left: -2em;
    padding-right: 1.2em;
  }

  ul {
    padding-left: 1em;
    li {
      margin-bottom: .5em;
    }
  }

  ol {
    padding-left: 2em;
    li {
      margin-bottom: .5em;
    }
  }

  #t6.form-tab .btn-group-vertical {
   margin-top: 1.5em;
  }

  .pager {
    padding-left: 0;
    list-style: none;

    li {
      display: inline;
      margin: 0;
      padding: 0;

      ::marker {
        display: none;
      }

    }

    li > a {
      font-weight: bold;
      font-size: 16px;
      padding: 10px;
      min-width: 60px;
      background-color: $dul-masthead-blue !important;
      border-color: shade-color($dul-masthead-blue, 3%) !important;
      color: $white;

      &.disabled span {
        color: $white;
        background-color: $dul-masthead-blue;
      }
    }

    li > a:hover,
    li > a:focus {
      background-color: $brand-info; //#245682
      border-color: darken($brand-info, 10%);
    }

    .back-to-review {
      padding-top: 0.875em;
    }
  }

  #submission_submit_button {
    float: right;
    font-size: 1em;
    font-weight: bold;
    min-width: 3.75em;
    padding: 1.125em 1.875em;

    background-color: #707C23 !important;
    border-color: #4e5618 !important;
    &:hover {
      border-color: #4e5618 !important;
    }
  }

  .radio-not-checked,
  .text-area-empty {
    background-color: tint-color($danger, 90%);
    border-color: $danger;
  }

  .form-group {
    margin-top: 2em;
    margin-bottom: 0;

    label {
      width: 100%;
      font-weight: normal;
      text-align: left;
    }

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
      height: 6em;
    }
  }


  .required::before {
    content: '* ';
    color: $brand-danger;
    font-size: 200%;
    line-height: .25;
    vertical-align: bottom;
  }

  .required-text {
    color: $brand-danger;
    font-size: 200%;
    line-height: .25;
    vertical-align: bottom;
  }

  .data-size {
    text-align: center;
    margin-bottom: 2em;
  }

  .fund-code {
    text-align: center;
    margin-bottom: 3em;
    margin-top: 1em;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input {
      -moz-appearance: textfield;
    }
  }

  select {
    height: 44px;
    padding: 10px 18px;
    font-size: 16px;
    line-height: 1.428571429;
    color: $gray-dark;
    border: 1px solid $gray-400;
  }

  .data-size {
    select {
      width: 15em;
      margin-left: auto;
      margin-right: auto;
    }
    input {
      width: 12em;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  #submission_cost_calculator_data_size_output {
    font-size: 36px;
    width: 8em;
    line-height: 1em;
    border-color: $white;
    box-shadow: none;
  }

  #cost-estimate-text {
    font-style: italic;
    color: $text-muted;
  }

  .larger-text {
    font-size: 110%;
  }
}

#t6 {
  p.lead {
    margin-bottom: 0;
  }

  p:not(.lead) {
    padding: 0.5em;
    background: #f3f3f3;
    border: 1px solid #ccc;
  }

  h2 {
    font-size: 20px;
    color: #333;
    font-weight: 400;
    margin-top: 2.5em;
  }

  dl {
    dt {
      color: #333;
    }
    dd {
      padding: 0.5em;
      background: #f3f3f3;
      border: 1px solid #ccc;
      margin-bottom: 1em;
      white-space: pre-wrap
    }
  }

  .btn {
    font-weight: 800;
    padding: 2px 6px;
  }

  .disabled {
    opacity: 0.9;
  }
}

/* form progress indicator */

.step-indicator {
  margin-top: 1em;
  border-top: 1px solid $body-bg;
  padding-top: 1em;

  @include media-breakpoint-up(xl) {
    min-width: 73.125em;
  }
}

ol.segments {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  // height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 1em 1em 0 1em;
  margin-bottom: 0;

  @include media-breakpoint-down(sm) {
    min-width: 90vw;
  }

  .segment {
    flex: 1 1 0;
    margin-left: 1px;
    margin-right: 1px;
    max-width: 15em;
    min-height: 0.5em;
    position: relative;
    list-style: none;

    &::after {
      background-color: $gray-300;
      content: "";
      display: block;
      height: 0.5em;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      @include media-breakpoint-down(sm) {
        display: block !important;
      }
    }

    .segment-label {
      color: $text-muted;
      display: block;
      font-size: .9em;
      line-height: 1.2;
      margin-top: .75em;
      text-align: center;
      padding: 0 0.25em 0 0.25em;
      @include media-breakpoint-down(sm) {
        display: none;
      }

    }

    &.current {
      .segment-label {
        color:$brand-primary;
        font-weight: 700;
      }
      &::after {
        background-color: $brand-primary;
      }
    }

    &.complete {
      .segment-label {
        color: $brand-success;
      }
      &::after {
        background-color: $brand-success;
      }
    }
  }
}