$web-font-path: "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" !default;
@if $web-font-path {
  @import url($web-font-path);
}

.font-weight-semibold {
  font-weight: 600 !important;
}

/* Accessibility: for use in cases where inline linked text has   */
/* insufficient contrast (< 3:1) with its surrounding text; links */
/* must be distinguishable by more than color.                    */

@mixin underlined-link {
  text-decoration: underline;
  text-decoration-color: #aaa;
}

a.underlined-link {
  @include underlined-link;
}

/* --------------------------
    DUL Custom List Styles
----------------------------- */
ul { padding-left: 0.5em; }
ul:not([class]) li { list-style-type: none; }
ul:not([class])>*:before {
  color: $piedmont;
  content: "\f04d";
  font: FontAwesome;
  margin-left: -0.6em;
  padding-right: 1em;
  vertical-align: 50%;
  font-size: 33%;
}

/* --------------------------
    DUL Custom Alert Styles
    accessibility adjustments
----------------------------- */

.alert a {
  font-weight: 600;
}

.alert.alert-warning {
  color: shade-color($warning, 51%);
}
