/* ============================== */
/* Work Show Page Style Overrides */
/* ============================== */

.main-column {
  padding-right: 30px;
}

.work-permissions {
  display: inline-block;
  font-size:19px;
}

.current-depositor {
  font-style: italic;
  padding-bottom: 1em;
  border-bottom: 2px solid #eee;
}

/* Override buggy position: absolute; from Hyrax core. See: */
/* https://github.com/samvera/hyrax/blob/main/app/assets/stylesheets/hyrax/_viewer.scss */
.viewer-wrapper {
  margin-bottom: 1.5em;
  & iframe {
    position: static !important;
  }
}

.viewer {
  padding: 0;
  margin: 0;
}

.expandable-extended-text {
  display: none;
}

a.toggle-extended-text {
  &:link, &:hover, &:active {
   text-decoration: none;
  }
  &:focus {
   color: #2e74b2;
  }
  &.expanded {
    display: block;
  }
}

.work-show-columns {
  display: flex;
  @include media-breakpoint-down(sm) {
    display: block;
  }
  & > div {
    align-items: stretch;
  }
}

dl.work-show {
  &.dataset {
    border-top: 4px solid $piedmont;
    padding-top: 25px;
    margin-top: 25px;
    column-count: 2;
    column-gap: 20px;
    @include media-breakpoint-down(xs) {
      column-count: auto;
    }
  }
  & > div {
    break-inside: avoid;
  }
  & dt {
    padding: 0;
    margin: 0;
    color: #666;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
  & dd {
    padding: 0;
    margin: 0;
    & ul {
      padding-left: 0;
    }
  }

  & .attribute {

    /* Styles for specific fields */
    &.attribute-related_url {
      &:not(:first-child) {
        margin-top: 0.8em;
      }
    }
  }
}

dl.work-citation {
  & dt {
    margin-bottom: 10px;
  }
  & dd {
    border-left: 10px solid #eee;
    padding-left: 8px;
  }
}

.contextual-info {
  background: #fafafa;
  border-left: 2px solid #eee;
  padding: 30px 15px;
  @include media-breakpoint-down(xs) {
    border-left: none;
  }
  & .representative-media, .canonical-image {
    display: block;
    padding: 0.5em 0;
    max-width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 3px 3px 15px #ccc;
  }
  & h2 {
    font-size: 22px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
  }
}

.vertical-breadcrumb {
  font-size: 15px;
  color: #666;
  border-bottom: 2px solid $piedmont;
  padding-bottom: 20px;
  margin-bottom: 20px;
  & a.vertical-breadcrumb-expander {
    color: #666;
  }
  & .you-are-here {
    margin-top: 15px;
  }
}

.vertical-breadcrumb-node {
  &.collapsed {
    display: none;
  }
  &.current-node {
    margin-top: -6px;
  }
  &.home-node {
    & .fa {
      font-size: 20px;
    }
  }
}

.vertical-breadcrumb-separator {
  position: relative;
  display: block;
  width: 1px;
  margin: 6px auto;
  color: #ccc;
  height: 15px;

  & .fa {
    font-size: 19px;
    position: absolute;
    bottom: -2px;
    left: -3px;
    &.fa-map-marker {
      font-size: 19px;
      color: $piedmont;
      background-color: white;
      bottom: -10px;
      left: -4px;
    }
  }
}

.show-actions {
  padding: 15px 0;
  a.btn {
    margin-bottom: 5px;
    vertical-align: top;
  }
  .show-actions-secondary {
    @include media-breakpoint-down(xs) {
      padding-left: 0;
    }
  }
}

.resp-sharing-button__link {
  margin: 0;
}

.resp-sharing-button {
  padding: 0.2em 0.3em 0em 0.3em;
}

.resp-sharing-button__link[title="Tumblr"], .resp-sharing-button--tumblr {
    display: none;
}

.stats-button,
.stats-button:focus {
  width: 100%;
  background: #2e74b2;
  border: 1px solid rgba(0,0,0,.2);
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;

  &:hover,
  &:active {
    background: #021738;
    color: #fff;
  }

  &:before {
    content: "\f080";
    font-family: "FontAwesome";
    padding-right: 0.3em;
  };
}

table.related-files {
  & tbody > tr > td {
    border-top: none;
  }
  & td.thumbnail {
    width: 50px;
    padding: 0;
    margin: 10px;
    & img {
      max-width: 48px;
    }
    & img.folder-icon {
      max-width: 40px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  & .btn {
    font-size: 85%;
  }
  & tr.file_set td:last-of-type {
    white-space: nowrap;
  }
}

/* Collections Show page */

.hyc-description {
  text-align: left;
  padding: 0;
}

.hyc-metadata h3 {
  border-top: 4px solid $piedmont;
  padding-top: 25px;
  margin-top: 25px;
}

.hyc-metadata {
  padding: 0;

  & div {
    border-bottom: none;
  }
}

dl.collection-show {
  margin-bottom: 0;

  & dt {
    color: #666;
  }
}

.hyc-metadata dl {
  column-count: 2;
  column-gap: 20px;
  border-top: none;
  @include media-breakpoint-down(xs) {
    column-count: auto;
  }
  & > div {
    break-inside: avoid;
    border-bottom: none;
    display: block;
    padding: 0;
    margin-bottom: 11px;
  }
  & dt {
    padding: 0;
    margin: 0;
    color: #666;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
  & dd {
    padding: 0;
    margin: 0;
    & span {
      padding-left: 0;
    }
  }

  & .attribute {

    /* Styles for specific fields */
    &.attribute-related_url {
      &:not(:first-child) {
        margin-top: 0.8em;
      }
    }
  }
}

.hyc-bl-results .table > tbody > tr > td {
  border-top: none !important;
}

.hyc-blacklight {
  padding: 0;
}

.hyc-banner {
  margin-top: 1em;
  border-radius: 0;

  & .hyc-title h2 {
    color: #fff;
    font-weight: 600;
    text-shadow: 0px 0px 6px rgba(0,0,0,.8), 0px 0px 1px rgba(0,0,0,1);
    margin-top: 0;
    margin-bottom: 0;
  }

  & .hyc-logos {
    padding-bottom: 1em;

    & img {
      margin: 0 calc(1em - 6px) 0 0;
      padding: 0;
      border: 2px solid #ddd;
      border-radius: 8px;
    }
  }

}

.file-set-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .download-link {
    margin-top: 0.5em;
  }
}

#readme {
  #readme-pane {
    margin: 0 0 22px 0;
    color: #031b44;
    background-color: #f8fbff;
    border-color: #b2b2b2;
    min-height: 82px;

    .readme {
      margin: 1em 0 1em 1.5em;
    }
    .readme-raw {
      white-space: pre-wrap;
    }
  }
}
