.home-jumbotron {
  background-color: $dul-masthead-blue;
  margin: -15px -30px 15px -30px;
  height: 440px;
  min-height: 150px;
  width: auto;
  position: relative;
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: image-url("gothic-window-chart.png");
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-position-x: center;
    background-position-y: -207px;
    background-size: 637px;
    opacity: 0.15;
  }
}

.home-jumbotron-overlay {
  background: linear-gradient(to bottom, rgba(255,255,255,0.95), rgba(255,255,255,0.85));
  min-height: 150px;
  position: absolute;
  font-size: 21.5px;
  max-width: 80%;
  top: 75px;
  left: 20px;
  right: 20px;
  margin: 0 auto;
  padding: 30px;
  border-top: 8px solid $piedmont;
  z-index: 1;
  @include media-breakpoint-down(sm) {
    max-width: 90%;
    top: 30px;
  }
  @include media-breakpoint-down(xs) {
    top: 15px;
    font-size: 20px;
  }
  & a.learn-more {
    font-size: 18px;
    margin-left: 0.5em;
  }
  & .marquee-buttons {
    margin-top: 20px;
    & .btn {
      @include media-breakpoint-down(sm) {
        margin-bottom: 0.5em;
      }
    }
  }
  .btn-lg {
    border-radius: 0;
    font-size: 1.125rem;
    padding: 1.125rem 1.75rem;
  }
  .btn-secondary {
    background-color: $granite;
    border-color: $granite;
    color: $gray-darker;

    &:hover {
      background-color: $limestone;
      border-color: $granite;
    }
  }
}


.home-content {
  display: flex; /* let sidebar style extend to full height */
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.home-marketing-text {
  & p, ul {
    font-size: 18px;
  }
  & h3:after {
  content: "\f103";
  font-family: FontAwesome;
  margin-left: 0.4em;
  color: $piedmont;
  }
}

.home-recently-uploaded {
  padding-left: 15px;
  padding-bottom: 15px;
  background: #fafafa;
  border-left: 4px solid #eee;
  & .recent-item {
    min-height: auto;
    padding: 10px 0;
    border-top: 2px dotted #eee;
    margin-top: 5px;
    &:nth-child(3) {
     border-bottom: 2px dotted #eee; /* treat 3rd like final item */
     margin-bottom: 15px;
    }
    &:nth-child(n+4) {
      display: none; /* hide 4th+ item */
    }
    & a {
      float: left;
    }
    & .media-left {
      vertical-align: baseline;
      display: table-cell;
    }
    & .media-body {
      display: table-cell;
    }
    & img {
      max-width: 40px;
      max-height: 60px;
    }
  }
}

.home-marketing-boxes {
  float: left;
  font-size: 18px;
  color: white;
  background-color: #053482;
  border-top: 4px solid $piedmont;
  border-bottom: 4px solid $piedmont;
  margin: 20px -30px -15px -30px;
  & .marketing-box {
    padding: 20px 20px 30px 20px;
    &:nth-child(1) {
      background-color: $dul-masthead-blue;
    }
    &:nth-child(2) {
      background-color: #1f438c;
    }
    &:nth-child(3) {
      background-color: #2f5295;
    }
    &:nth-child(4) {
      background-color: #4464a2;
    }
  }
  & .marketing-caption {
    text-align: center;
    border-top: 2px solid $piedmont;
    padding-top: 20px;
  }
}
