/* ===================== */
/* Page Layout Overrides */
/* ===================== */

html {
  scroll-behavior: smooth;
}

body {
  margin-bottom: 25px;
}

.skip-to-content a {
 color: $dul-masthead-blue;
}


.notify-number .label {
  color: $dul-masthead-blue;
}

#content-wrapper {
  background: $white;
  padding: 15px 30px 30px 30px !important;
}

/* fix content wrapping */
@include media-breakpoint-down(sm) {
  #masthead .container {
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
  #content-wrapper.container {
    max-width: 100%;
  }
}

@include media-breakpoint-up(xl) {
  .container {
    max-width: 1170px;
  }
}

.alert {
  margin: 0 0 22px 0;
  a {
    text-decoration: underline;
  }
}

.alert {
    &.alert-danger {
      color: #edc1b8;
      background-color: #cd3300;
      border-color: #cb2b01;
      a {
        color: #edc1b8;
      }
      a:hover {
        color: #b6948f;
      }
      button.close {
        color: #edc1b8;
      }
  }
}

#content-wrapper .alert {
  margin: -15px -30px 22px -30px;
}

#content-wrapper .row .alert,
#content-wrapper .main-content .alert {
  margin: 0 0 22px 0;
}

h1, .h1, h2, .modal-title, .h2, h3, .h3 {
  margin-top: 22px;
  margin-bottom: 11px;
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;

  li:first-of-type {
    padding-left: 10px;
  }

}

#content-wrapper .breadcrumb {
  display: none;
}

.site-footer {
  height: auto;
}

ul.tabular {
  padding-left: 0;
}

/* ===== */
/* Items */
/* ===== */

.canonical-image {
  width: 100%;
}

.media-left, .media-right, .media-body {
  vertical-align: middle;
}

.file_listing_thumbnail {
  border-radius: 8px;
}

.document .list-thumbnail {
  text-align: center;
}

.resp-sharing-button__link span {
  color: $link-color;
}



/* ============================================ */
/* Button Variations (extends Bootstrap) */
/* ============================================ */

.btn-emphasize {
  font-weight: bold;
  &:before {
  content: "\f105";
  font-family: FontAwesome;
  margin-right: 0.5em;
  color: $piedmont;
  }
}

.btn-default-darker {
  background: $gray-400;
  border-color: darken($gray-400, 5%);
  &:hover {
    background: $gray-300;
  }
}

.btn-download {
  font-weight: bold;
  &:not([disabled]):before {
    content: "\f019";
    font-family: FontAwesome;
    margin-right: 0.5em;
    color: $gray-darker;
  }
  &.btn-success {
    &:not([disabled]) {
      &:hover, &:active, &:focus {
        color: white !important;
      }
    }
    &:before {
      color: $gray-darker;
    }
  }
  &#bulk_export_options_dropdown:before {
    content: "";
    margin: 0;
  }
}

#bulk_export_options_dropdown {
  margin-left: -6px;
}

.btn-duke-logo, .btn-duke-logo:active {
  background-image: asset-url("logos/duke-tr.png");
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: 10px 50%;
  padding-left: 70px;
}

.download-export-wrap {
  display: inline-block;
  vertical-align: top;
}

/* ============================================ */
/* Background variations (extends Bootstrap)    */
/* ============================================ */

.bg-success {
  color: white
}

/* ============================================ */
/* Permission Badges (extends Bootstrap .label) */
/* ============================================ */

/* Don't show public badge in work show page */
.work-permissions .permission-badge-open, .related-files .permission-badge-open {
  display: none;
}

/* Add icons to some permission badges */
.permission-badge-restricted:after {
  content: "\f023";
  font-family: FontAwesome;
  margin-left:0.5em;
}

.permission-badge-embargo:after {
  content: "\f023";
  font-family: FontAwesome;
  margin-left:0.5em;
  color: $warning;
}

.permission-badge-lease:after {
  content: "\f09c";
  font-family: FontAwesome;
  margin-left:0.5em;
  color: $warning;
}

.permission-badge-authenticated:after {
  content: "\f023";
  font-family: FontAwesome;
  margin-left:0.5em;
}


/* ============== */
/* Search Results */
/* ============== */

#facets h3 {
  font-size: 1.3em;
}
.metadata {
  & .attribute-label.h4 {
      font-size: 18px;
  }
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  color: $gray;
}

.hyc-bl-pager .pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;

  li a,
  .active span {
    border-radius: 0;
    margin-right: 0;
  }
}

.list-thumbnail, .collection-icon-search {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

/* Blacklight Range Filter Overrides */
.range_limit {
  & .slider-handle {
    background-color: $piedmont;
    background-image: none;
  }
  & input.range_begin, input.range_end {
    font-size: 14px;
  }
  & input.form-control {
    padding:10px 16px;
  }
  & input.btn {
    padding: 10px 14px;
  }
  & .missing {
    display: none;
  }
}

.facet-field-heading {
  margin-top: 0;
}

// Used for hiding elements while e.g. maintaining
// schema.org properties
.hide {
  display: none;
}

/*
  Hack for Bootstrap 3 to have multiple navbars that don't snap into mobile
  collapse mode at the same breakpoint (the other is in masthead). Note this
  is easier in BS4; see https://tinyurl.com/y5qrrhql.
*/
@include media-breakpoint-between(sm, md) {
  #facets .top-panel-heading {
    border: none;
    margin-bottom: 0 !important;
  }
  #facet-panel-collapse {
    display: block !important;
    height: auto !important;
  }
  #facets .facets-toggle {
    display: none;
  }
}

// Override BS4 table-striped "dark" background
// color for accessible link contrast (see RK-53)
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #f9f9f9 !important;
}

.search-result-wrapper {
  .search-results-title-row {
    .search-result-title {
      font-size: 23px;
    }
  }
  .collection-counts-wrapper {
    .collection-counts-item {
      margin-left: 0;
      margin-bottom: 10px;
      width: 100%;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}


/* ========= */
/*  Columns  */
/* ========= */

.column-extra-padding {
  padding: 30px;
}


/* ======= */
/*  Forms  */
/* ======= */

.vertical-line {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid $gray-300;
  height: 250px;
  @include media-breakpoint-down(xs) {
    position: static;
    transform: none;
    height: 1px;
    margin: 40px auto;
  }
}

.vl-innertext {
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  background-color: $white;
  border: 2px solid $gray-400;
  border-radius: 50%;
  color: $text-muted;
  padding: 6px;
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  font-weight: bold;
  @include media-breakpoint-down(xs) {
    left: 50%;
    top: -1.25em;
    transform: none;
  }
}

.g-recaptcha {
  min-height: 85px;
}


/* ------------------------
 *  FOOTER
 * ------------------------ */



//https://github.com/duke-libraries/ddr-public/blob/develop/app/assets/stylesheets/ddr.scss#L1242-L1284

.footer {
    margin-top: 1.5em;
    margin-bottom: 0;
    border: 0;
    padding: 20px;
  }

  .footer h3 {
    color: lighten($gray, 5%);
    text-transform: uppercase;
  }

  .footer ul {
    margin: 0;
    padding: 0;
  }

  .footer li {
    margin-bottom: .75em;
  }

  .footer li a,
  .footer p a {
    line-height: 1.2em;
    color: $gray-800;
  }

// RDR-specific customizations migrated from Bootswatch theme
.dropdown-menu {
  & > li > span.text-muted:hover,
  & > li > span.text-muted:focus {
    color: #CACACA !important;
  }
}

.dropdown-header {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1em;
}

.navbar-dark {

  background-color: $primary;

  .badge {
    background-color: #fff;
    color: $primary;
  }
}

// Lists (Duke Custom) ========================================================

ul { padding-left: 0.5em; }
ul:not([class]) li { list-style-type: none; }
ul:not([class])>*:before {
  color: $piedmont;
  content: "\f04d";
  font-family: "FontAwesome";
  margin-left: -0.6em;
  padding-right: 1em;
  vertical-align: 50%;
  font-size: 33%;
}

// Type Variants (Duke Custom) ==================================================

.strong { font-weight: bold; }


// Grid Variants (Duke Custom) ==================================================

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}


.buffer-bottom-10 {
  margin-bottom: 10px;
}

.buffer-bottom-20 {
  margin-bottom: 20px;
}

.buffer-bottom-30 {
  margin-bottom: 30px;
}

.buffer-bottom-40 {
  margin-bottom: 40px;
}
