<% if @submission.screening_data_size == Submission::MEDIUM_DATA_SIZE %>

<%= t("rdr.globus.email.text_medium_size", email: Rdr.curation_group_email) %>

<% elsif @submission.screening_data_size == Submission::LARGE_DATA_SIZE %>

<%= t("rdr.globus.email.text_large_size", email: Rdr.curation_group_email) %>

<% end %>

Submitter: <%= @submission.submitter.display_name %>
Net ID: <%= @submission.submitter.user_key.split('@').first %>

<% Submission::ATTRIBUTES.each do |attr| %>
  <% if include_submission_entry?(@submission, attr) %>
    <%= submission_entry(@submission, attr) %>
  <% end %>
<% end %>
