<% if @submission.using_pace == 'true' %>

  <%= t('rdr.submissions.email.success_pace.subject') %>

  <%= t('rdr.submissions.email.success_pace.text', email: Rdr.curation_group_email) %>

<% else %>

  <%= t('rdr.submissions.email.success.subject') %>

  <%= t('rdr.submissions.email.success.text', email: Rdr.curation_group_email) %>

<% end %>

Submitter: <%= @submission.submitter.display_name %>
Net ID: <%= @submission.submitter.user_key.split('@').first %>

<% if @submission.using_pace == 'false' %>
Submission Folder Name: <%= @submission_folder.name %>
Submission Folder URL: <%= submission_folder_url(@submission_folder.id) %>
<% end %>

<% Submission::ATTRIBUTES.each do |attr| %>
  <% if include_submission_entry?(@submission, attr) %>
    <%= submission_entry(@submission, attr) %>
  <% end %>
<% end %>
