<%# DUL CUSTOMIZATION: add custom favicon tags %>
<%# see https://tinyurl.com/favicons-in-2021   %>

<%# Opting to store these files in /public rather than /assets because %>
<%# the manifest file can't point to fingerprinted paths. %>

<link rel="icon" href="<%= image_path('/favicon/favicon.ico') %>" sizes="any">
<link rel="icon" href="<%= image_path('/favicon/favicon.svg') %>" type="image/svg+xml">
<link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('/favicon/apple-touch-icon.png') %>">
<link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('/favicon/favicon-32x32.png') %>">
<link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('/favicon/favicon-16x16.png') %>">
<link rel="manifest" href="<%= image_path('/favicon/site.webmanifest') %>">
<link rel="mask-icon" href="<%= image_path('/favicon/safari-pinned-tab.svg') %>" color="#053482">
<meta name="msapplication-TileColor" content="#053482">
<meta name="theme-color" content="#ffffff">
