<%# NOTE: Overrides existing Hyrax partial %>
<nav id="masthead" class="navbar navbar-dark navbar-static-top navbar-expand-lg" role="navigation">
  <div class="container">
    <div class="navbar-brand mr-5 logo-wrapper">
      <div class="navbar-dul">
        <%= link_to image_tag('logos/dul-logo.png', class:'navbar-dul-logo', alt:'Duke University Libraries'), 'https://library.duke.edu' %>
      </div>
      <div class="navbar-ddr">
        <a href="https://repository.duke.edu" class="product-name-secondary">Digital Repository</a>
        <a href="/" class="product-name-primary">Research Data</a>
      </div>
    </div>
    <div class="searchbar mr-auto col-lg-5 col-md-5 col-sm-9 col-9 pl-0 pl-md-1">
      <%= render partial: 'catalog/search_form' %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navbar-collapse" aria-controls="top-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="top-navbar-collapse">
      <%= render '/user_util_links' %>
    </div>
  </div>
</nav>

<%# Uses a Hyrax helper to check that the Announcement block exists and has text %> 
<%# See hyrax/app/helpers/hyrax/content_block_helper_behavior.rb %>
<% if display_content_block? announcement %>
  <%= render '/announcement' %>
<% end %>
