<%# NOTE: Overrides existing Hyrax partial %>
<ul id="user_utility_links" class="navbar-nav ml-auto text-right pt-2 pt-lg-0">
  <%#= render 'shared/locale_picker' if available_translations.size > 1 %>
  <% if user_signed_in? %>
    <li class="dropdown nav-item">
      <%= link_to hyrax.dashboard_profile_path(current_user), role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false}, class: 'btn btn-user dropdown-toggle' do %>
        <span class="sr-only"><%= t("hyrax.toolbar.profile.sr_action") %></span>
        <span class=""><%= current_user.name %></span>
        <span class="sr-only"> <%= t("hyrax.toolbar.profile.sr_target") %></span>
        <span class="fa fa-user pl-1" aria-hidden="true"></span>
      <% end %>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><%= link_to t("hyrax.toolbar.dashboard.menu"), hyrax.dashboard_path, class: 'dropdown-item' %></li>
	<% if current_user.curator? %>
	<li><%= link_to 'Queues', '/queues', class: 'dropdown-item' %></li>
	<% end %>
        <li class="dropdown-divider"></li>
        <li><%= link_to t("hyrax.toolbar.profile.logout"), main_app.destroy_user_session_path, class: 'dropdown-item' %></li>
      </ul>
    </li><!-- /.btn-group -->
  <% else %>
    <li class="nav-item">
      <%= link_to main_app.new_user_session_path, class: 'nav-link text-white' do %>
        <span class="fa fa-sign-in" aria-hidden="true"></span> <%= t("hyrax.toolbar.profile.login") %>
      <% end %>
    </li>
  <% end %>
</ul>
