<%# NOTE: Modified copy of Hyrax (v2.9.0) partial for local overrides %>
<%# especially for an easier/clearer file download UX. %>
<%# https://github.com/samvera/hyrax/blob/v2.9.0/app/views/hyrax/base/_actions.html.erb %>

<%# Remove in future if https://github.com/samvera/hyrax/issues/147 gets fixed. %>

<% if member.model_name.singular.to_sym == :file_set %>
  <% if can?(:download, member.id) %>
    <%= render "hyrax/base/file_download", member: member %>
  <% end %>
  <% if can?(:edit, member.id) %>
    <%= render "hyrax/file_sets/actions", file_set: member %>
  <% end %>
<% end %>
