<%# This is a custom DUL partial that extends _actions.html.erb, which originated here: %>
<%# https://github.com/samvera/hyrax/blob/v2.6.0/app/views/hyrax/base/_actions.html.erb %>

<% if member.file_size >= Rdr.globus_only_gb_threshold.gigabytes %>
  <div class="download-export-wrap" data-toggle="tooltip"
    title="<%= member.file_globus_download_btn_tooltip %>">
    <%= link_to t('hyrax.file_sets.actions.download_from_globus'),
                member.parent.globus_url,
                class: member.file_globus_download_btn_classes,
                target: "_blank",
                id: ["globus_download_", member.id].join,
                data: {
                  label: member.id,
                  work_id: @presenter.toplevel_work_id || @presenter.id,
                  collection_ids: @presenter.member_of_collection_ids
                } %>
  </div>
<% else %>
  <%= link_to t('hyrax.file_sets.actions.download'),
              hyrax.download_path(member),
              class: 'btn btn-default btn-download',
              title: t('hyrax.file_sets.actions.download_tooltip',
                filesize: member.file_size_humanized),
              target: "_blank",
              id: ["file_download_", member.id].join,
              data: {
                label: member.id,
                toggle: 'tooltip',
                work_id: @presenter.toplevel_work_id || @presenter.id,
                collection_ids: @presenter.member_of_collection_ids
              } %>
<% end %>
