<%# NOTE: Modified copy of Hyrax (v5.0.1) partial for local overrides %>
<%# Add sr-only span for "visibility" table header (see https://duldev.atlassian.net/browse/RK-52) %>
<%# https://github.com/samvera/hyrax/blob/hyrax-v5.0.1/app/views/hyrax/base/_items.html.erb %>

<%  array_of_ids = presenter.list_of_item_ids_to_display %>
<%  members = presenter.member_presenters(array_of_ids) %>
<% if members.present? %>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="files-tab" data-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="true">Files</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="readme-tab" data-toggle="tab" href="#readme" role="tab" aria-controls="readme" aria-selected="false"><%= t('rdr.file_set.readme.title') %></a>
    </li>
  </ul>
  <div class="tab-content" id="dataset-tab-content">
    <div class="tab-pane fade show active" id="files" role="tabpanel" aria-labelledby="files-tab">
      <table class="table table-striped related-files">
        <thead>
          <tr>
            <th><%= t('.thumbnail') %></th>
            <th><%= t('.title') %></th>
            <th><%= t('.date_uploaded') %></th>
            <th><span class="sr-only"><%= t('.visibility') %></span></th>
            <th><%= t('.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'member', collection: members %>
        </tbody>
      </table>
      <div class="row">
        <% if presenter.total_pages > 1 %>
            <div class="row record-padding col-md-9">
              <%= paginate array_of_ids, outer_window: 2, theme: 'blacklight', param_name: :page, route_set: main_app %>
            </div><!-- /pager -->
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="readme" role="tabpanel" aria-labelledby="readme-tab">
      <% readme = presenter.readme_file_set %>
      <% if readme && can?(:download, readme.id) %>
        <%= render 'readme', presenter: presenter, readme: readme %>
      <% else %>
        <div class="alert alert-warning" role="alert"><%= t('rdr.file_set.readme.no_readme') %></div>
      <% end %>
    </div>
  </div>
</div>
<% elsif can? :edit, presenter.id %>
    <div class="alert alert-warning" role="alert"><%= t('.empty', type: presenter.human_readable_type) %></div>
<% else %>
  <div class="alert alert-warning" role="alert"><%= t('.unauthorized', type: presenter.human_readable_type) %></div>
<% end %>
