<%# NOTE: Copy of a Hyrax dataset view to override child dataset display icon %>
<%# https://github.com/samvera/hyrax/blob/main/app/views/hyrax/base/_member.html.erb %>
<%# Last checked for updates: Hyrax v5.1.0 %>

<tr class="<%= dom_class(member) %> attributes">
  <td class="thumbnail">
    <%= 
    if member.try(:member_count).to_i > 0
      link_to(image_tag('folder.png', alt: 'file details', class: 'folder-icon'), contextual_path(member, @presenter), class: 'folder-icon-thumbnail-link') 
    else
      document_presenter(member).thumbnail.thumbnail_tag(alt: 'file details') 
    end
    %>
  </td>
  <td class="attribute attribute-filename ensure-wrapped"><%= link_to(member.link_name, contextual_path(member, @presenter)) %></td>
  <td class="attribute attribute-date_uploaded"><%= member.try(:date_uploaded) %></td>
  <td class="attribute attribute-permission"><%= member.permission_badge %></td>
  <td>
    <%= render 'actions', member: member %>
  </td>
</tr>
