<%# Overrides Hyrax core _metadata.html.erb partial in order to put microdata %>
<%# schema.org object type declaration in the right place (not here). %>
<%# Last checked for updates: Hyrax v3.1.0. See: %>
<%# https://github.com/samvera/hyrax/blob/main/app/views/hyrax/base/_metadata.html.erb %>
<dl class="work-show <%= dom_class(presenter) %>">
  <%= render 'attribute_rows', presenter: presenter %>
  <%= presenter.attribute_to_html(:embargo_release_date, render_as: :date, html_dl: true) %>
  <%= presenter.attribute_to_html(:lease_expiration_date, render_as: :date, html_dl: true) %>
</dl>
