<%# NOTE: Originated in core Hyrax partial _show_actions.html.erb; extracted from a local %>
<%# custom copy of that partial. %>
<%# Last checked for updates: Hyrax 3.1.0. See: %>
<%# https://github.com/samvera/hyrax/blob/main/app/views/hyrax/base/_show_actions.html.erb -%>

<ul class="dropdown-menu" aria-labelledby="more-options-dropdown">
  <% if presenter.editor? && !workflow_restriction?(presenter) %>
    <li><%= link_to t('.edit'), edit_polymorphic_path([main_app, presenter]), class: 'dropdown-item' %></li>
    <li><%= link_to t('.delete'), [main_app, presenter], data: { confirm: "Delete this #{presenter.human_readable_type}?" }, method: :delete, class: 'dropdown-item' %></li>

    <li class="dropdown-divider"></li>

    <% if presenter.member_count > 1 %>
      <li><%= link_to t('hyrax.file_manager.link_text'), polymorphic_path([main_app, :file_manager, presenter]), class: 'dropdown-item' %></li>
    <% end %>

    <% if presenter.assignable_doi? %>
      <li><%= link_to t('hyrax.base.show_actions.assign_register_doi'), [main_app, :assign_register_doi_hyrax_dataset], method: :post, class: 'dropdown-item' %></li>
    <% else %>
      <li><span class="dropdown-item text-muted"><%= t('hyrax.base.show_actions.assign_register_doi') %></span></li>
    <% end %>

    <% if !workflow_restriction?(presenter) %>
      <% if presenter.show_deposit_for?(collections: @user_collections) %>
        <li>
          <input type="checkbox"  style="display:none" name="batch_document_ids[]" id="batch_document_<%= presenter.id %>" value="<%= presenter.id %>" class="batch_document_selector" checked="checked" />
          <%= link_to t('hyrax.dashboard.my.action.add_to_collection'), '#',
                         class: 'dropdown-item submits-batches submits-batches-add',
                         data: {toggle: "modal", target: "#collection-list-container"} %>
        </li>
      <% end %>
    <% end %>

    <% if presenter.valid_child_concerns.length > 0 %>
      <% presenter.valid_child_concerns.each do |concern| %>
        <li><%= link_to "Attach #{concern.human_readable_type}", polymorphic_path([main_app, :new, :hyrax, :parent, concern.model_name.singular.to_sym], parent_id: presenter.id), class: 'dropdown-item' %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>
