<%# Modified version of Hyrax core partial _show_descriptions.html.erb replaced with local modifications %>
<%# https://github.com/samvera/hyrax/blob/main/app/views/hyrax/collections/_show_descriptions.html.erb %>
<%# Last checked for udpates: Hyrax v3.1.0 %>

<dl>
  <%# Use exact same metadata fields / display rules as are present for a dataset %>
  <%= render 'hyrax/datasets/attribute_rows', presenter: @presenter %>
</dl>
