<ul class="dropdown-menu">
  <li role="presentation" class="dropdown-item disabled"><a href="#">Please choose an export format:</a></li>
  <li class="dropdown-divider"></li>
  <% %w[zip tgz tar].each do |ext| %>
    <li>
      <%= link_to [main_app, presenter, { format: ext }],
            class: 'bulk_export_dropdown_format dropdown-item',
            data: {
              label: presenter.id,
              work_id: presenter.toplevel_work_id || presenter.id,
              collection_ids: presenter.member_of_collection_ids,
              format: ext
            } do %>
              <code>.<%= ext %></code>
              <small><%= t(['hyrax.base.show_actions.export_files_dropdown.', ext].join) %></small>
      <% end %>
    </li>
  <% end %>
</ul>
