<%# NOTE: Overrides Hyrax partial. This is now a highly customized version of the core    -%>
<%# partial, accommodating actions unique to DUL (e.g., Export & Globus). We also removed -%>
<%# things that we don't use (e.g., Feature/Unfeature Items). %>

<%# See: -%>
<%# https://github.com/samvera/hyrax/blob/main/app/views/hyrax/base/_show_actions.html.erb -%>
<%# Last checked for updates: Hyrax 2.9.0 -%>

<div class="show-actions">
  <% if presenter.deaccessioned? %>
    <div class="row">
      <div class="col-12 alert alert-danger text-light">
        <p>The dataset with identifier <a href="https://dx.doi.org/<%= presenter.doi %>" target="_blank"><%= presenter.doi %></a> has been withdrawn.</p>
        <% presenter.provenance.each do |provenance_note| %>
          <p class="mb-0 mt-1"><%= provenance_note %></p>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-9 show-actions-main">
      <%# If a Globus export exists for this dataset (can be in any workflow state)... %>
      <%# and we are looking at a top-level dataset (not nested)... %>
      <% if presenter.globus_export.present? && presenter.top_level %>

        <%# Only allow direct batch export for small datasets; large must use Globus %>
        <% if presenter.small_dataset? %>
          <div class="download-export-wrap btn-group" data-toggle="tooltip" data-placement="bottom" title="<%= presenter.export_btn_tooltip %>">
            <%= link_to presenter.export_btn_title, [main_app, presenter, { format: 'zip' }],
                  class: presenter.export_btn_classes,
                  type: 'button',
                  id: 'bulk_export_begin',
                  data: {
                    label: presenter.id,
                    format: 'zip',
                    loading_text: t('.export_files_loading').html_safe } %>
            <%= link_to '#',
                  class: presenter.export_btn_classes +
                    %w[dropdown-toggle dropdown-toggle-split],
                  type: 'button',
                  id: 'bulk_export_options_dropdown',
                  aria: {
                    haspopup: 'true',
                    expanded: 'false'
                  },
                  data: {
                    toggle: 'dropdown',
                  } do %>
                <span class="sr-only">Toggle Dropdown</span>
            <% end %>
            <%= render "show_actions_export_dropdown", presenter: @presenter %>
          </div>
        <% end %>

        <div class="download-export-wrap" data-toggle="tooltip" data-placement="bottom" title="<%= presenter.globus_download_btn_tooltip %>">
          <%= link_to presenter.globus_download_btn_title, presenter.globus_url,
                class: presenter.globus_download_btn_classes,
                id: 'globus_download',
                target: '_blank',
                data: {
                  label: presenter.id,
                  work_id: presenter.toplevel_work_id || presenter.id,
                  collection_ids: presenter.member_of_collection_ids
                } %>
        </div>

        <%= link_to t('.globus_more'), '/help#globus',
              class: 'btn btn-link',
              id: 'globus_more',
              data: { label: presenter.id } %>
      <% end %>
    </div>
    <div class="col-sm-3 show-actions-secondary">
      <% if presenter.editor? %>
        <div class="dropdown">
          <a role="button" id="more-options-dropdown" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-cog"></span>
            <%= t('.more_options')%>
          </a>

          <%= render "show_actions_admin_dropdown", presenter: @presenter %>
        </div>
      <% end %>
    </div>
  </div>

</div>

  <!-- COinS hook for Zotero -->
  <span class="Z3988" title="<%= export_as_openurl_ctx_kev(presenter) %>"></span>

<!-- Render Modals -->
<%= render 'hyrax/dashboard/collections/form_for_select_collection', user_collections: @user_collections %>
